[2015-05-23 18:30] Maijin opened #3 "Enable Doc, Travis CI and Appveyor on radeco"
- [x] Configure Appveyor @xvilka
- [x] Add radeco to r2pm
- [x] Enable Appveyor on github @radare
- [x] Add the .travis.yml file
- [x] Enable the Travis project on github + travis website @radare
- [x] Add the "build passing" logos on the README
- [x] Add makefile or/and build instructions for humans(tm)
- [x] Automate the rust doc generation @sushant94
- [x] Coverall.io #18

[2015-05-23 18:54] dkreuter opened #4 "dkreuter feature wishlist"
- [ ] Flow reshaping
- [ ] Graph overlays
- [ ] Generating DWARF debug info

[2015-05-24 20:19] sushant94 opened #5 "GSoC Tasklist (sushant)"
**Tasklist for GSoC-2015:**
- [x] ESIL Parser in Radeco.
- [ ] Develop tests for the ESIL Parser.
- [x] Dominator tree

----

- [x] Constant folding.
- [x] Tests for constant folding.
- [ ] Type Propagation.
- [ ] Integration into radare2.

[2015-05-24 20:38] sushant94 opened #6 "[Meta] Feature Wishlist"
**Feature Wishlist:**
- [x] Refer Issue #5
- [x] Refer Issue #7
- [ ] Refer Issue #4
- [ ] Extend the data flow analysis to improve optimisations and inference on the IR.
- [ ] Control Flow Restructuring.
- [ ] Control Flow Recovery.
- [ ] Emit C-code

[2015-05-26 10:27] dkreuter opened #7 "GSoC Tasklist (dkreuter)"
**Tasklist for GSoC-2015:**
- [x] Graph data structures, processing, API
- [x] Develop tests for graph infrastructure
- [ ] Implement pattern matching on the graph.
- [ ] Test pattern matching
- [x] Convert the parsed ESIL into SSA-ESIL.
- [x] Develop tests for SSA-ESIL.

----

- [ ] Variables propagation (*x = ?; *x → *x = t = ?; t)
- [ ] Tests for that.
- [x] Phi elimination.

[2015-05-26 12:53] radare opened #8 "Reimplementation of some analysis in Rust"
Part of the task requires understand, learning and writing Rust, and therefor this opens the door for reimplementing some core features and allow to verify them in another ways. This issue aims to track the development of adhoc technologies that can be redone in Rust in order to benefit from the language capabilities.
- [x] Implement r2pipe.rs (to use rust from inside or outside r2)
- [ ] Implemen

[2015-05-26 13:22] XVilka commented on #8
Or even using rust to rewrite valabind, since vala is the *nix only, pain to compile in the windows world.

[2015-05-26 15:07] radare commented on #8
vala works runs and builds fine on windows, i have been using it several years ago, and iirc there are builds of it in some repos. vala is still best option than rust for valabind imho.

[2015-06-03 14:50] Maijin commented on #3
This issue to be assigned to @XVilka

[2015-06-16 11:59] XVilka opened #12 "Diaphora support based on RadecoIR (not for sushant and dkreuter)"
Related to https://github.com/radare/radare2/issues/2742

Probably, using higher level IR for diffing makes more sense?

[2015-06-16 18:16] radare commented on #12
Yeah probably an optimized version of radecoir can be better for diffing. Current r2 diffing engine works quite well. But it lacks an ui. I would not priorize supporting diffinhg based on radeco because it will be handy when integrated with r2. And we have to priorize the decompilation.

[2015-06-16 18:27] XVilka commented on #12
yep, it is a very low priority and a long term goal. Just to keep this in mind

[2015-07-04 19:50] XVilka opened #13 "`radeco` utility request/specification"
Radeco
======

The radare decompiler tool, (namedly 'radeco') should be able to run from r2 or from the shell, accepting different inputs and dumping different outputs.

we can make radeco r2pipe friendly and interact with r2 using the pipes. this piece is already done, but not used at all. so i would suggest making the 'radeco' executable that allows to run like this:

    $ radeco -h
    Usage:

[2015-07-04 23:02] mewmew commented on #13
There is no +1 on GitHub issues, but I'd like echo this idea. I wholeheartedly believe in the powerful notion of having tools operate on well-defined input and output, and having these tools emit data from intermediate steps in human readable format (or a format which is isomorphic to a human readable format). This approach facilitates debugging and the implementation of test cases, it gives great

[2015-08-08 16:52] crowell opened #14 "parsing json fails on 'tachikoma'"
[code]

http://toonces.cat/tachikoma

[2015-08-10 02:06] radare commented on #14
isnt this a bug in r2?

[2015-08-10 02:06] radare commented on #14
also, that eof susggest me that the bug is in r2pipe.rs

[2015-08-10 08:21] sushant94 commented on #14
@radare @crowell , This has something to do with r2, not  with the pipe.
Though sym.main is identified, running `pdfj @ sym.main` says "Cannot find function at 0x0002b3f0"

[2015-08-10 09:50] radare commented on #14
I would suggest handling “” as valid JSON from r2pipe.rs, this way commands like this, that doesnt display anything to stdout will not fail that hard, i think that we should handle better error cases like this from there. anyway, if there’s no function at sym.main is because the analysis hasnt been done properly, i see that you guys are doing “aa” for analysis, which is not the best way to get ful

[2015-08-10 18:40] sushant94 commented on #14
Yup. `af @ sym.main` followed by `pdfj @ sym.main` seems to work correctly.

[2015-08-10 19:23] sushant94 commented on #14
@radare Actually, the correct fix would be that r2 returns an empty array in these cases i.e. `"[]"`
This way, it'll still be a valid JSON.

[2015-08-12 07:15] radare commented on #14
Thats not the same case. When the output is not json like an empty string it means that an error happened. We should handle this without a fatal exception. Maybe with Option or so

[2015-08-12 08:30] sushant94 commented on #14
@radare The idea thing would be to have the json be something like this:
[code]

This way the error can be displayed to the user too.

[2015-08-12 08:45] radare commented on #14
i think that we should assume that it is nearly impossible to handle all cases where the json is printed to extend that “status” field, because is a manual change. i would prefer to just handle non-json or empty output as error cases

[2015-08-23 10:42] radare opened #16 "Add LICENSE"
I have removed the license commits for two reasons.

1) it was not discussed, accepted by at least me. Why BSD?

2) The commit was merged from the web user interface which poluted the commit history with two commits

[2015-08-23 10:44] XVilka commented on #16
BSD was chosen because of the no limitations for using the code. What license you think of?

[2015-08-23 11:02] radare commented on #16
Also, adding a license requires changing all source files and adding a header specifying that information.

[2015-08-23 11:11] radare commented on #16
I was suggesting MIT, but there are also other licenses that can be interesting to use here. BSD seems a good license to me for this project because its suposed to be statically linked, and seems less restrictive/problematic than LGPL. Is @sushant94 and @dkreuter happy with it too? do you have other license proposals?

Licensing is serious thing, and have its legal implications, so better not to m

[2015-08-23 11:12] radare commented on #16
In short, I would choose LGPL if rust would support dynamically linking or LGPL was a bit less restrictive about statically linking. And maybe not having 'GPL' in the name would be less scary for companies.

[2015-08-23 11:15] XVilka commented on #16
@radare we've discussed MIT (same as 2-clause BSD), but 3-clause BSD still saves the possibility to deny any relations to the project using radeco, if it is bad for the humanity, us or whatever.

[2015-08-23 11:16] XVilka commented on #16
@radare but we can just remove 'modify' part from the BSD license and use it? Just change the name of the license..

[2015-08-23 12:41] radare commented on #16
What i want is a mix of bsd and lgpl. And iirc theres no such thing. We can put our invented license. But if we do this we should push some efforts into clarifying all this.

One of the goods of MIT is that its simple and easy, BSD Is too, but it have different versions and this makes it a bit more complex.

Licenses have been always an issue because legal stuff is hard and we developers dont want

[2015-08-23 13:09] sushant94 commented on #16
But making our own license means that people have to actually make an effort to read this (which is usually not the case). If it is a standard license, then people are likely to just see the name and understand the terms of use along with it (which makes it easier for people).
I don't mind not compelling people to contribute back if they have modified the source for use within their projects, so f

[2015-08-23 14:39] radare commented on #16
I think that bsd protects author names better than mit. So imho its good to choose bsd, and hopefully people will contribute back.. What about a dual license? I dont wanna make that too much complicated either

[2015-08-24 11:14] radare commented on #16
meh, lets use BSD3. its fine for me

[2015-08-24 11:16] XVilka commented on #16
:+1: 3-clause BSD

[2015-09-02 09:13] radare commented on #16
Related https://en.wikipedia.org/wiki/BSD_licenses

[2015-09-02 09:14] radare commented on #16
What about that last clause:
[code]

freebsd license is simpler , it doesnt contains this one

[2015-09-02 09:15] radare commented on #16
I also find this clause interesting:
[code]

[2015-09-02 10:00] radare commented on #16
Done

[2015-09-02 10:00] #16 closed

[2015-09-07 20:01] sushant94 commented on #5
Adding a new comment for the final status after GSoC.

**Final Status:**
- [x] ~~ESIL Parser in Radeco.~~
- [ ] Develop tests for the ESIL Parser: IMO, parser needs a slight refactor. Adding tests right after that.
- [x] ~~Dominator tree~~

----

- [x] ~~Constant folding.~~
- [x] ~~Tests for constant folding.~~
- [ ] Type Propagation: Postponed to after GSoC
- [ ] Integration into radare2: Partial

[2015-09-07 20:05] sushant94 commented on #5
I'll open a separate issue for each task with a better description. Closing this for now.

[2015-09-07 20:05] #5 closed

[2015-09-07 20:07] sushant94 opened #18 "Fix coveralls report"
The current coverall report is incorrect as it is taking into account the r2 codebase too in calculation of percentage coverage. This needs to be fixed to get an accurate report.

[2015-09-07 20:11] sushant94 commented on #14
Fixed in radare/r2pipe.rs@a8831ddb99b2e61c941b4032987397e233ea717d

[2015-09-07 20:11] #14 closed

[2015-09-07 20:16] sushant94 commented on #13
This issue was moved to radare/radeco#2

[2015-09-07 20:16] #13 closed

[2015-09-08 09:00] radare commented on #14
😃

[2015-09-20 01:42] CoolOppo opened #19 "Build Failing!"
[![Build Status](https://travis-ci.org/radare/radeco-lib.svg)](https://travis-ci.org/radare/radeco-lib)

I am getting the same errors as Travis-CI is when compiling. See https://travis-ci.org/radare/radeco-lib/jobs/80833855#L1329.

[2015-09-20 04:41] radare commented on #19
The argparse branch is wip to fix this thing. Its a known issue as part of the refactoring to integrate with r2pipe.

[2015-09-28 14:50] sushant94 commented on #19
Fixed as of 64bd89b6b2f41e243f19a69a1e46899a60b93da0

[2015-09-28 14:50] #19 closed

[2015-09-28 14:53] sushant94 commented on #7
Closing this with updated checkboxes as GSoC is now over. @dkreuter feel free to open another issue when you need to.

[2015-09-28 14:53] #7 closed

[2015-10-11 21:10] radare opened #21 "unreachable code error"
It would be good to have some better feedback from the tool in order to understand the reason of this situation. i guess this is a bug in esil, but we dont know the address of that instruction or which function was trying to analyze, etc. (this happens with osx's /bin/ls) but probably with other binaries
[code]

[2015-10-11 21:12] radare opened #22 "Entrypoint error"
in case no entrypoint is found, we can asume the address to decompile is 0 (useful when analyzing dumped artifacts or shellcodes), but right now the error is not really helpful
[code]

[2015-10-14 12:35] sushant94 commented on #22
@radare This bug belongs to radeco rather than radeco-lib. radeco is the one that decides where to decompile from.

[2015-10-14 12:59] radare commented on #22
but it shouldnt panic in radeco-lib

[2015-10-15 11:21] sushant94 commented on #22
It does not. This is a panic in radeco.

[2015-10-16 07:03] radare commented on #22
Uhm ok, u r right

[2015-11-12 13:07] sushant94 opened #24 "Move r2 module to r2pipe.rs"
The r2 module that implements some of the basic commands in order to make r2 easier to use from rust seems to be useful in repos other than radeco-lib too. I propose we move it to r2pipe, which will give user's an option to either use raw r2pipe or use r2 implementation that returns structs that are convenient to use.

[2015-11-12 13:26] radare commented on #24
Ideally that should be done in another crate on top of r2pipe. I had the same  dilema when doing the other r2pipe apis. Because the idea would be to have some kind of common high level api on top of r2pipe for all languages, not just rust, for consistency

[2015-11-12 13:28] sushant94 commented on #24
Yes, that sounds like a nice goal. But imo, this can go into the same crate (in a different module) as it is essentially providing just convenience methods and the users can always just opt to not use these modules, but use raw r2pipes instead.

[2015-11-12 14:28] #24 closed

[2016-01-07 10:19] XVilka opened #25 "Building error: src/structs.rs:200:37: 200:38 error: mismatched types"
Compiling radeco-lib v0.1.0 (https://github.com/radare/radeco-lib#3becd4ac)
/home/xvilka/.cargo/git/checkouts/radeco-lib-99c1e75dd493d005/master/src/middle/ssa/verifier.rs:29:2: 29:63 warning: the trait `core::marker::Sized` is not
implemented for the type `Self` [E0277]
/home/xvilka/.cargo/git/checkouts/radeco-lib-99c1e75dd493d005/master/src/middle/ssa/verifier.rs:29 	fn verify_block(&self, i: &S

[2016-01-13 21:59] sushant94 commented on #25
Seems like the r2pipe used is old. Running `cargo update` before build should solve this issue.

[2016-01-13 21:59] #25 closed

[2016-01-26 07:18] sushant94 opened #271 "Enable OSX Travis"
Travis supports OSX. I think we should have OSX tests for esil-rs

[2016-03-11 19:49] Maijin commented on #22
so can be close

[2016-03-12 01:29] #22 closed

[2016-03-15 17:11] sushant94 commented on #21
@radare Does this still happen? Have you tested this recently? I don't seem to be having this problem when I run it on OSX /bin/ls. Please confirm.

[2016-03-15 17:15] sushant94 opened #27 "Improve Graphs"
The current CFG and SSA graphs that radeco produces are POC and quite unreadable. Since these form the base of the entire decompilation process and are our main sources of debugging, it would be a good idea to invest some time in improving these outputs.
- [x] Colorize CFG produced.
- [x] Better layout for the SSA Graph to make the blocks look like they are actually a part of the CFG
- [x] Better

[2016-03-15 17:19] sushant94 opened #28 "[CI] Fix Coveralls report"
The current coveralls report shown is incorrect as it includes r2's source as a part radeco (hence resulting in low coverage of 7%).

/cc @XVilka @Maijin @radare

[2016-03-15 17:25] radare commented on #28
how to reproduce this crash? isnt this an issue with kcov?

if anyone can get a backtrace… maybe we can tell travis to build r2 with asan, so we will get a crashlog when running with kcov.. but im not sure if kcov will work with asan

[2016-03-16 06:11] sushant94 commented on #28
@radare I'm not talking about the segfault when running with kcov. The problem is, kcov is considering r2 source (which is pulled and built) before running the tests, as a part of radeco's source code. Hence this results in it reporting a very low test coverage of 7% (which is certainly wrong).

[2016-03-23 17:16] sushant94 opened #29 "Memory SSA"

[2016-03-23 17:26] crowell commented on #29
http://www.airs.com/dnovillo/Papers/mem-ssa.pdf
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.33.6974&rep=rep1&type=pdf

llvm's patch to add memory ssa http://reviews.llvm.org/D7864

[2016-05-19 03:14] VPaulV commented on #21
@sushant94 Yes, this still happens, but with other binaries.
[malware_sample.zip  - password: infected](https://github.com/radare/radeco-lib/files/271760/malware_sample.zip)

[2016-05-19 03:27] VPaulV opened #30 "called Option::unwrap()` on a `None` value' error"
On some binaries radeco fails at the  [*] Parsing ESIL step.
[malware_sample.zip: password - infected](https://github.com/radare/radeco-lib/files/271766/malware_sample.zip)

[code]

[2016-05-19 08:02] sushant94 commented on #21
@VPaulV Well ESIL recently underwent some changes that has made radeco pretty much un-usable. Give me a few days and it'll ~~all~~ mostly be fixed ;)

[2016-05-24 07:52] sushant94 commented on #18
Duplicate of #28

[2016-05-24 07:52] #18 closed

[2016-05-24 07:59] sushant94 commented on #6
Opening individual issues to track.

[2016-05-24 07:59] #6 closed

[2016-06-06 12:48] v-p-b commented on #30
Getting similar result on the main function of `/bin/ls`:

[code]

Radeco installed using r2pm, reported version is 0.1.0.

[2016-06-06 14:39] sushant94 commented on #30
This is fixed in the latest version of radeco-lib, but since this won't be in sync with radeco, the changes are currently unmerged in the form of a PR (see #31). Once I make the necessary changes in radeco (to use the latest radeco-lib) this will be fixed.

[2016-07-08 13:51] sushant94 commented on #30
If you'd like to give radeco a try now, please check [src/minidec](https://github.com/radare/radeco-lib/tree/master/minidec) on information on how to. More bug reports after are welcome :)

[2016-07-08 14:59] crowell opened #32 "panic on unwrap with minidec"
[code]

binary (base64'd) https://gist.github.com/a44b88d77df07c1b6486204eaee34f44

[2016-07-09 07:13] sushant94 commented on #32
This may be because the function uses xmm registers. Currently, radeco does not support these.

[2016-07-09 09:56] radare commented on #32
Will be nice to make radeco show more meaningful errors with context

[2016-07-12 11:11] Maijin opened #33 "Reference strings in the output"
[code]

From

[code]

Looks like the string is not referenced in the output

[2016-07-12 11:12] Maijin commented on #33
Here is the binary: https://github.com/radare/radare2-regressions/blob/master/bins/elf/hello-linux-x86_64

[2016-07-12 11:13] Maijin commented on #33
Same for 0x4003e0 -> sym.imp.puts probably.

[2016-07-12 11:15] Maijin commented on #33
rdi=#x4005c4 => rdi=str.Hello_World or even better =>  rdi="Hello World" ?

[2016-07-12 21:34] sushant94 opened #34 "radeco does not recognise `ucall`"
Other variants of call have `type` field which is not a `call`. These are currently not being recognised as call instructions. Reported by @Maijin.

[2016-07-12 21:35] Maijin commented on #34
* https://github.com/radare/radare2-regressions/blob/master/bins/pe/normal.exe?raw=true

[2016-07-12 21:40] sushant94 commented on #33
As per discussion, I'll add a table at the top that shows the mapping from address to symbols in the current bin. This should be good enough for IR purposes. The addresses will be replaced by corresponding symbols in future phases before writing out to C.

[2016-07-12 21:57] sushant94 opened #35 "Complete output in a single file for `minidec`"

[2016-07-13 13:58] XVilka opened #36 "Fuzzing"
Using https://github.com/frewsxcv/afl.rs

[2016-07-13 14:01] crowell commented on #36
I don't think radeco needs afl to find panics ATM ;-)
On Jul 13, 2016 9:59 AM, "Anton Kochkov" <notifications@github.com> wrote:

[2016-07-13 14:38] sushant94 opened #37 "Replace instruction pointer with address when used as operand"

[2016-07-15 08:26] radare commented on #37
Maybe using r2.cmd("fd {addr}") to resolve address names?

[2016-07-20 09:31] radare commented on #36
Closing?

[2016-07-20 09:31] radare commented on #36
Agree. Basic usage/functionality ismore important

[2016-08-27 10:51] resetnow opened #38 "TODO in visual mode — unsupported arch?"
Hello,

I'm trying to use radeco (minidec) on xtensa elf binary (baremetal). After piping IR to minidec, most decompiled functions are empty (even when dead code elimination passes are disabled) and a few only contain CALL statements. Disassembly is visual mode is full of TODOs. Does this mean that this architecture is not supported by radeco or is this a problem with radare2 xtensa backend?

![sc

[2016-08-27 10:58] XVilka commented on #38
@resetnow this is because Xtensa doesn't fully support ESIL, which is needed as an input for radeco.

[2016-08-27 11:02] resetnow commented on #38
@XVilka thanks!

[2016-08-27 11:02] #38 closed

[2016-09-07 04:14] sushant94 commented on #21
This issue is no longer valid.

[2016-09-07 04:14] #21 closed

[2016-09-07 04:15] sushant94 commented on #28
Fixed

[2016-09-07 04:15] #28 closed

[2016-09-09 17:18] Tenebryo opened #39 "Minidec Panics"
I ran into a couple panics when running `minidec`. I'm using rustc version `rustc 1.13.0-nightly (a7b2232d2 2016-09-07)`.

First at the very beginning of the run I get the following panic. Execution, however, continues.

[code]

Some functions seem to be decompiled correctly, but at least one (always seems to be from a small subset of the functions in the binary) panics in the following way:

[cod

[2016-09-12 02:31] sushant94 commented on #39
Hey! Thanks for this. The first one seems to be because the binary has an ESIL instruction that has not been implemented in esil.rs yet.

I'll look into the second one. Is it possible for you to share the bin or provide logs? If not, is there any way you can write a function similar to the one it panics on? It seems to me that there is a register not present in the regfile of radeco, and hence tha

[2016-09-15 20:01] Tenebryo commented on #39
@sushant94

I don't have the code for the binary, as it was part of a CTF. However, the binary can be downloaded [from the ctf site, here.](https://twctf7qygt6ujk.azureedge.net/uploads/diary-999cc49df002db99154b4c572713f5c91f2d112b139bdbfe4a34f5deab35337a)

I hope this helps!

[2016-09-25 15:47] resetnow opened #41 "minidec: thread main panicked at called Option::unwrap() on a None value"
I have seen similar "unwrap on none" issues, but this one seems to happen in a different source location.

[code]

I can share the binary if necessary.

[2016-09-26 23:41] sushant94 commented on #41
Ok, this seems like a different issue and has something to do with accessing a node that does not exist. Could you please generate a log and attach it to the issue? That would help me a ton. If the binary is redistributable, please add a copy of that too.

[2016-09-26 23:43] sushant94 commented on #41
Ok, seems like I don't have instructions on how to generate logs anywhere. I'll add that to minidec soon. But in the meanwhile if you can, please point me to the binary that causes this.

[2016-09-27 01:35] sushant94 opened #42 "`FnIdx` (in `RModule`) should have a corresponding trait that is required to be implemented. The current implementation uses u64."

[2016-09-27 01:38] sushant94 opened #43 "Run through rust-clippy."

[2016-09-27 04:54] resetnow commented on #41
Binary: https://resetnow.ru/temp/r2-xtensa-crash

[2016-09-27 08:47] uxmal commented on #41
When I try to open that binary with `objdump` I get the error `File truncated`. Is it just me?

[2016-09-27 09:51] resetnow commented on #41
It appears it's broken, sorry! I will reupload it in about 6 hours.

[2016-09-27 09:54] resetnow commented on #41
Just remembered I shared it on Telegram earlier

[esp8266-display.zip](https://github.com/radare/radeco-lib/files/495131/esp8266-display.zip)

[2016-11-24 16:18] some-username commented on #27
Just to be sure: The file in question is src/middle/dot.rs, right? Are there other files I missed?

[2016-11-24 18:44] radare commented on #27
Is there any gml library for rust? Because its proven to be way faster to process than dot

[2016-11-25 10:11] some-username commented on #27
A (very brief) search yielded:
 - https://github.com/creekware/rust-gml
   Seems not to be available (anymore).
 - https://github.com/mneumann/gml-rs
   5 commits, 169 LOC, last commit in July.
 - https://crates.io/crates/gml
   Version 1.1.0, last change one year ago.

Haven't had a closer look.

[2016-12-30 09:39] sushant94 opened #46 "Improvements to DOMTree"
Dominator tree construction was one of the first analysis implemented in radeco. This needs some love. As such, it is works but is inconsistent with the other analysis API in radeco. A refactor is needed.

Since DOMTree is not currently used anywhere in radeco, we can afford to make breaking changes (and probably do this when needed).

NOTE: petgraph has recently added dominator tree construction

[2016-12-30 23:29] sushant94 opened #47 "Never panic"
Error handling is currently not a strong point in radeco-lib. Sometimes we just need to accept that our analysis is imprecise and move forward to produce acceptable output rather than panicking. However, we would like to log all such errors to improve our analysis over time.

The framework to produce these logs when the `trace_log` feature is enabled is already in place. We need to convert all pan

[2017-01-01 00:45] sushant94 opened #48 "Predefined Call Summaries"
Write/Generate call summaries for standard functions.

Should include:
- Arguments
- Types of arguments
- Registers modified
- Registers preserved
- Return type
- Return register

Bonus: Automatically generate these from .h files based on calling convention profiles.

[2017-01-01 00:52] sushant94 opened #49 "Improvements to IR"
- [x] Store and display the original instruction (along with addresses)
- [x] Don't lose information related to register assignments. Store this information without breaking the SSA nature of the IR.
- [ ] Improve/Fix/Implement subtree printing, hashing and matching.

[2017-01-02 20:20] l4l opened #50 "(Possible) Access to a replaced node leads to panic"
After lurking through the code i guess i found out race condition(?) bug [here](https://github.com/radare/radeco-lib/blob/master/src/middle/phiplacement.rs#L355).

Here's the [patch](https://gist.github.com/l4l/dafebb40c526860590477f3345e4995c) to the master branch that i use for testing.
Here's the log example that hint to the bug:
![screenshot- - --2-22 51 30-msk-2017](https://cloud.githubuserco

[2017-01-02 20:21] radare commented on #50
can you send a pr instead of posting a patch?

[2017-01-02 20:26] l4l commented on #50
Why not, yeah
is [comparing against branch](https://github.com/radare/radeco-lib/compare/master...l4l:patch) fine? or you need a pr

[2017-01-02 20:50] radare commented on #50
PR or GTFO

[2017-01-02 20:55] l4l commented on #50
enjoy #51

[2017-01-03 05:28] sushant94 commented on #50
@l4l Why would there be a race condition, nothing inside radeco-lib is threaded.

Also, it seems to be that NodeIndex(1826) gets replaced by NodeIndex(1665), I mean, that's what's supposed to happen anyway.

[2017-01-03 09:24] l4l commented on #50
Well, it was mostly a guess, i don't really know the code. Anyway it still has lots of panics at graph accessing (as well as failing test from time to time) so it can't be the intended behaviour
And btw here's the spawn https://github.com/radare/radeco-lib/blob/master/src/frontend/containers.rs#L322 but meh, it doesn't lead to that place

[2017-01-04 11:12] l4l commented on #50
Summary of last talk with @sushant94:
/bin/ls panics when adding replaced 38-th node (and only it).
Fails [here](https://github.com/radare/radeco-lib/blob/master/src/middle/ssa/ssastorage.rs#L618) and goes from [this call](https://github.com/radare/radeco-lib/blob/master/src/middle/phiplacement.rs#L361)
Type for NodeIndex(38) is NodeData::RegisterState

[2017-01-11 12:45] chinmaydd commented on #8
@radare is there any resource used to understand the a2f analysis engine? The source in libr/core/p/core_anal.c is highly undocumented.

[2017-01-11 16:48] radare commented on #8
No docs out there, its documented in C. I think the a2f rewrite is way more clean and readable than af. Also, defragger is working on that a2f and did some goodies to it. Do you have any specific question? Maybe irc is a good place to ask this.

Also, this is the radeco repo, not r2 one

[2017-01-11 16:58] chinmaydd commented on #8
@radare I see. The radeco-lib issue specifies a task to implement the same in Rust so I was wondering if I could work on it. I could not quite find the documentation for it in the r2 source. As for posting it on IRC, I did ask the doubt but no one responded for quite a while.

I will try to look into the a2f source again.

[2017-01-11 17:09] radare commented on #8
i think @defragger is actually doing this, for fun, not to integrate it within radeco, but it will be cool if you two work together in a separate repo (or maybe radare2-extras).

[2017-01-12 17:34] smarek opened #52 "r2pm -i radeco :: fails with r2pipe::structs::LVarRef missing method chars"
[code]

I assume this is known issue, but I report for tracking purposes

[2017-01-18 06:00] sushant94 commented on #52
Fixed in 59fb1d8aa7556bc15e4b69001c512dbf64685dd3

[2017-01-18 06:00] #52 closed

[2017-01-18 08:08] radare commented on #52
😍

[2017-02-09 03:22] XVilka commented on #49
- [ ] Handling custom ESIL ops - like a predefined function with comments, arguments and so on

[2017-02-09 03:23] XVilka opened #55 "Attributes to a nodes (not all though)"
- [ ] "Tainted" attribute, to propagate through all chain, if applicable

[2017-02-09 03:24] XVilka commented on #48
I think also this information should be taken from "aft*, afn*, afv*" commands from radare2.

[2017-02-11 05:34] sushant94 commented on #55
This kind of exists through the `mark` and `color` for SSA in SSAExtras, but yes, it could be improved. Currently, this is used only for DCE.

[2017-03-17 11:11] #43 closed

[2017-03-21 13:27] shakram02 commented on #33
hey guys, would you please re-upload the binary ? any hints on where to start ?
Thanks

[2017-03-21 13:33] resetnow commented on #33
Should be it? https://github.com/radare/radare2-regressions/blob/master/bins/elf/analysis/hello-linux-x86_64

[2017-03-21 13:50] Maijin commented on #33
Yes that's the bin

[2017-03-26 11:41] resetnow opened #58 "Build error: unknown field in src/frontend/containers.rs"
[code]

[code]

[code]

[2017-03-26 12:41] resetnow commented on #58
Solved with cargo update — there is no version information in r2pipe dependency so it didn't update automatically.

[2017-03-26 12:41] #58 closed

[2017-03-28 19:54] shakram02 commented on #37
any info about this ? where to start ? example output ?

[2017-03-29 06:14] shakram02 commented on #46
I'm working on this for the moment, I'm going to remove `InternalIndex` and replace that with a function that maps a `node_id` which is of type `graph::NodeIndex` to its dfs traversal index, is that fine ?

[2017-03-30 01:00] sushant94 commented on #46
@shakram02 Did you checkout the dominator tree support in petgraph? It'd be nice if we could reuse this rather than rewrite.

[2017-03-30 01:02] sushant94 commented on #46
Also, about the InternalIndex thing, as far as I remember, it was implemented this way cause petgraphs node indexing was not 'stable'. Now, petgraph has a new `stable_graph` (I made this change for the main SSA tree), so using that would make more sense rather than having another index.

Feel free to correct me if I'm wrong. DOMTree was probably the first analysis I wrote ;)

[2017-03-30 12:21] shakram02 commented on #46
whoa that must've been a long time ago, yea I check petgraph's dominator tree, I'll create a PR, it passes all the tests, but maybe you want to review the api

[2017-06-02 09:32] #4 closed

[2017-06-24 03:58] P4N74 commented on #50
Fixed by https://github.com/radare/radeco-lib/pull/62

[2017-08-15 07:58] ZhangZhuoSJTU commented on #32
This is because float is not supported in Radeco, thus missing the xmm0..4 registers.

[2017-08-22 17:44] XVilka opened #70 "Small binaries/tests of other architectures."
- [ ] ARM 16 bit (Thumb)
 - [ ] ARM 32 bit
 - [ ] ARM 64 bit
 - [ ] MIPS
 - [ ] AVR

Even just one binary of each will be helpful I think at this stage

[2017-08-25 16:24] chinmaydd opened #72 "RadecoProject as a container for RadecoModules"
This issue will be used to discuss the design for `RadecoProject` and what goes inside it.

Initial thoughts: (Most information lifted from r2, but setup during initialization)
[code]

Thoughts?

[2017-09-07 04:33] sushant94 opened #76 "radeco-ir subtree hashing"
Several implementations of subtree hashing exist in various parts of radeco. It would be nice to implement one standard way of doing this as a part of the IR.

According to the previous discussions, we can treat phi-nodes as leaves (and giving each phi a unique id, perhaps based on the NodeIndex), thereby converting the problem of subgraph hashing into a simpler subtree hashing problem.

[2017-09-07 04:34] sushant94 opened #77 "Support for custom esil ops in radeco ir"

[2017-09-07 04:34] sushant94 commented on #49
Closing this and opening separate issue for the remaining two tasks.

[2017-09-07 04:34] #49 closed

[2017-09-07 04:37] sushant94 opened #78 "Handling signedness in radeco-ir"
This affects several analysis (such as `sccp` and `VSA`). We need a way to handle/express signedness in the IR to ensure correct results.

[2017-09-07 04:40] sushant94 opened #79 "Handling width of constants"
Current implementation of SSA construction sets constants to be 64-bit wide by default. This leads to every use of the constant widening the other operations.

[2017-09-07 04:41] sushant94 commented on #72
PR #75 implements changes for this.

[2017-09-07 04:44] sushant94 opened #80 "Standardize the SSA API"
Most functions in the SSA/SSAMod/CFG/CFGMod API follow a certain pattern in naming and arguments. It would be nice to standardize it and have all functions be uniform, making the naming and usage more consistent and predictable.

[2017-09-07 04:46] sushant94 opened #81 "Document radeco-ir"
With more people wanting to get involved with radeco, it would be nice to document the IR to help new contributors get started. As a side note, it would also be nice to have example usages of the lib (currently, I point people to look at the `minidec` directory for the example, but we may need something along those lines but with more comments and annotations).

[2017-09-07 05:01] sushant94 opened #82 "Bug in CFG construction for conditional instructions"
Instructions with conditional blocks don't have an unconditional edge from the `true` block to the next instruction. This leads to adding an edge to the exit block which ruins all analysis!

[2017-09-07 05:06] sushant94 commented on #82
On a related note, we need to decide how to handle such instructions. Ideally, we do not want to break the basic block on these instructions as they should belong to the larger block.

[2017-09-07 09:43] ZhangZhuoSJTU opened #83 "Add "version" number for the registers"
Adding `version` number for the registers (on the edges) will help in ordering the edges(/expresions) for a particular register.

Some details need to be paid attention on:
+ Handle version number correctly when `replace_node` within two nodes for the same register.
+ Version number should be sorted by `Data Flow Order` rather than `Address`.
+ Version number should begin at `1` rather than `0`, f

[2017-09-07 10:24] ZhangZhuoSJTU opened #84 "Complete information for OpStore"
Some information for `OpStore` node is lacked or incorrect.

## Unify Arity of OpStore

Nowadays, although in `middle/ir.rs`, the arity of `OpStore` is *Binary*, OpStore could actually be *Binary* or *Ternary*. Moreover, OpStore is always be used as a ternary operation, rather than binary. Some situations of OpStore are as follows.

+ For register write, the operands are *`mem` variable*, *registe

[2017-09-07 10:36] ZhangZhuoSJTU opened #85 "Finish SSAVerifier"
SSAVerifier / Verified add to ensure IR invariants are maintained and never violated.
This will help future developer to make sure their changes on IR is correct and viable.

Some invariants are as follows. (Please remain me if i forget some invariants)

+ All the basic block should have one unconditional outgoing edge or two conditional outgoing edges.
+ For basic blocks, which have two condition

[2017-09-09 02:23] sushant94 commented on #79
@ZhangZhuoSJTU Some thoughts
-  Since we try our best to maintain exactly one copy of a constant (across multiple uses), how do we want to assign the with to the Constant node. The same constant maybe used several times with different widths.

Example:
[code]
We need a way to handle this, or we simply need to create another constant node with a different size.
Three options I can think of:
 - Set

[2017-09-09 05:03] sushant94 opened #86 "Handle indirect control flow transfer in `ssaconstructor`"
Currently unimplemented and has a warning to indicate the same.

[2017-09-09 05:31] sushant94 opened #87 "IR Opcode Extensions"
`rol` and `ror` opcodes in ssaconstructor are currently unimplemented. This is a good time to reconsider the opcodes we currently have radeco-ir.

Discussion:
- Do we want separate opcodes for these? or do we do this with a combination of shifts and bit masks.
- Should we replace OpWiden with separate opcodes for zero and sign extend? (Issue #78)
- Do we need operation such as Concat and Extract (

[2017-09-09 05:37] sushant94 commented on #87
Related discussion:
- Should we replace OpWiden with separate opcodes for zero and sign extend? (Issue #78)
- Do we need operation such as Concat and Extract (corresponding to similar operations in smtlib)

[2017-09-09 16:28] chinmaydd opened #88 "SubRegFile as a trait in radare2-r2pipe-api"
The logic in `regfile.rs` has the potential to be repeated in multiple projects. It would be nice to have a baseline `RegisterFile` trait which can then be extended as and when required. One example would be provide ValueTypes to the registers or have symbolic markers stored with them.

This trait can be added to `radare2-r2pipe-api` and then extended here.

[2017-09-09 16:35] #72 closed

[2017-09-10 06:16] sushant94 commented on #88
I think this should be a part of arch-rs and reused in radare2-r2pipe-api to return results in the appropriate structs.

[2017-09-10 15:05] ZhangZhuoSJTU commented on #79
@sushant94 To be honest, for me maintaining exactly one copy of a constant is the best idea. And before talking about which options we choose, one point should be concerned:

**In some analysis, especially like `sccp`, we haven't maintain exactly one copy of a constant, which actually needs some improvement.**

In my opinion, the third one is much better, because in this way, we could avoid wideni

[2017-09-10 15:22] ZhangZhuoSJTU commented on #87
@sushant94

+ For `rol` and `ror` opcodes, I think it may be better to separate opcodes. Because `rol` and `ror` opcodes not only read value from variables(registers), but also write value on them. Thus, these two opcodes cannot be applied on some partial registers simply. For example, we can easily apply `rol` on `eax` on 32-bit machine, but we cannot apply `rol` on `al` which is `OpAnd` from `ea

[2017-09-10 15:27] ZhangZhuoSJTU commented on #88
Agree with `arch-rs`, it seems more logical, imho.

[2017-09-10 15:31] ZhangZhuoSJTU commented on #82
I thinks it may be difficult to avoid breaking the basic block. Emm, I mean, can we figure out these instructions from ESIL? I think from ESIL, we could only know there is a conditional jump.

[2017-09-10 16:39] chinmaydd commented on #88
Alright, makes sense.

[2017-09-11 07:01] sushant94 commented on #79
Ok, that's cool! I'm going to test it out and see how it works for different cases. If it works out fine, we can just close this issue.

[2017-09-11 08:50] XVilka commented on #88
I agree on this too.

[2017-09-11 08:51] XVilka commented on #87
I think ROL and ROL like instructions are presented on many architectures, it make sense to add them.

[2017-09-11 08:52] XVilka commented on #87
Concat and Extract can be useful on SSE/AVX/NEON-like instructions.

[2017-09-12 06:06] XVilka commented on #85
You can gain some inspiration from BIL verifier https://github.com/BinaryAnalysisPlatform/bap-veri

[2017-09-12 07:22] XVilka commented on #77
Probably it should be just presented as some function call...

[2017-09-12 07:23] XVilka opened #89 "Remove obsolete branches and pull requests"
Review and remove if old/not applicable.

[2017-09-12 16:32] chinmaydd commented on #88
Using the PR here for tracking purpose: https://github.com/radare/arch-rs/pull/1

[2017-09-12 16:45] chinmaydd commented on #77
I think we need to address [this](https://github.com/radare/esil-rs/issues/6) PR first before taking this on.

[2017-09-13 06:42] XVilka commented on #39
I guess this one can be closed now?

[2017-09-14 06:01] XVilka opened #90 "Ability to handle variadic functions"
- [ ] To change arguments count interactively
 - [ ] To computer arguments count by parsing printf-like format descriptions

[2017-09-14 06:10] XVilka opened #91 "Ability to set value limits"
Can be helpful for some reasoning about possible paths, type inference and so on.

For example ability to limit the range (or set multiple ranges) for some arguments, variables or function return values interactively can be helpful.

This is often a common case if you have some domain knowledge about the data types, possible values, etc for the reversed program.

[2017-09-14 08:43] ZhangZhuoSJTU commented on #77
Agree with @chinmaydd , the unimplemented esil instructions limit many aspects, like multi-arch tests and so on.

[2017-09-14 08:48] XVilka commented on #77
@condret may be you have some ideas about this one too?

[2017-09-14 19:17] chinmaydd opened #286 "Efficient State Merging"
Efficient State Merging: https://dslab.epfl.ch/pubs/stateMerging.pdf

I will use this issue to track my understanding of the paper. This presents a good example of how rune could be used for implementing open research problems. It exposes certain requirements from the architecture of the tool and is a good starting point while redesigning the API(since we are under a heavy restructure).

Paper ove

[2017-09-15 15:43] ZhangZhuoSJTU commented on #80
I am a little confused about this issue. Emm, do you mean the SSA API is a little mess? Like `args_of` and `get_operands` functions work on the same things?

[2017-09-16 01:08] ZhangZhuoSJTU commented on #39
Yep, closed.

[2017-09-16 01:08] #39 closed

[2017-09-16 02:35] ZhangZhuoSJTU commented on #30
Closed.

[2017-09-16 02:35] #30 closed

[2017-09-16 02:37] ZhangZhuoSJTU commented on #50
Closed for fixing.

[2017-09-16 02:37] #50 closed

[2017-09-16 03:10] #41 closed

[2017-09-17 20:52] sushant94 commented on #80
Yes, that's what I mean. We should streamline it and decide what actually stays and what an be removed (also, what could be added).

[2017-09-18 00:15] ZhangZhuoSJTU commented on #80
I see. I will make an API list later for more specific discussion.

[2017-09-18 09:52] ZhangZhuoSJTU commented on #80
@sushant94  @XVilka @chinmaydd  Need some suggestions about new API.

# SSA API

## Naming Convention

- `action` is used to describe basic blocks.

- `value` is used to describe SSA node (Const, Expr, Phi).

- `edge` is used to describe CFG edges. (Except basic functions, edges are used to describe all edges)

## Struct Define

[code]

## Basic Functions

- default::Default

    - fn default() ->

[2017-09-18 10:33] ZhangZhuoSJTU commented on #80
Sorry about forgetting highlight. I will highlight the list later.

[2017-09-18 10:50] ZhangZhuoSJTU commented on #91
AS A NOTE: Add range information into SSAExtra, and it may be a set of ranges.

[2017-09-18 12:30] ZhangZhuoSJTU commented on #80
@sushant94  @XVilka @chinmaydd Updata list ;P

[2017-09-18 17:59] chinmaydd commented on #91
Can be useful information for setting constraints in rune as well.

[2017-09-18 18:35] chinmaydd commented on #80
Looks great izhuer :)

Some suggestions (in no particular order, sorry about that):

#### High-level:
* Choose one between `remove` and `delete`?
* Maybe follow a convention for getter and setters: `insert/update/remove/replace`. Also `get_xx` and `set_xx`. It might make API functions a bit longer but I think that design is better.
* Some functions are taking references to NodeIndex/EdgeIndex whil

[2017-09-19 01:46] ZhangZhuoSJTU commented on #80
@chinmaydd Hah, thanks for your suggestions. That does help a lot.

+ For **High-level**    I will do some changes right now ;P
+ For **SSAStorage**
    + `ragname` is considered to change for `arch-rs`
    +  For `edge_info` and `node_info`, I am not sure if it's necessary, because we could access these information from higher APIs, like `get_node_data`. I leave the  `edge_info` to be discussed b

[2017-09-19 02:14] ZhangZhuoSJTU commented on #80
For this, all the functions in CFGMod/SSAMod use references, while all the functions in CFG/SSA are not. I think it maybe more suitable for rust? Like what `HashSet` does, all the function which just get information are using references and all the function which will change its value will use value itself

[2017-09-19 09:55] XVilka commented on #80
What do you think about adding attributes to the nodes? https://github.com/radare/radeco-lib/issues/55 (and corresponding API)

[2017-09-19 10:24] ZhangZhuoSJTU commented on #80
@XVilka Agree, and I think we should add these into SSAExtra. Following is what SSAExtra should contain.

-    [x] `mark` for DCE
-    [x] `comment` for any comment on every node
-    [x] `color` for something I haven't known, actually
-    [x] `flag` for something I haven't known, neither
-    [ ] `range` for a set of value ranges
-    [ ] `type` for some type information which could be gathered

[2017-09-19 17:58] sushant94 commented on #80
Adding in more to this discussion:
- I believe that for functions which may fail to return a real value, we return a `Result`, or at the very least, as `Option`. The caller can then decide what to do. Current behavior can be replicated using `result.unwrap_or(invalid_value)`, so this shouldn't be a problem.
- I think the APIs can take references as arguments and return references (`&NodeIndex`). T

[2017-09-20 05:34] XVilka commented on #80
- I agree with @sushant94 about the Option/Result type for return values.
 - Yes, good idea about using HashMap about storing arbitrary information with nodes.

[2017-09-20 14:29] ZhangZhuoSJTU commented on #80
+ For return values, I think every `get_xxx` function should return Option/Result type or Vec (which could be empty to state None), maybe in this way, APIs will looks uniform. And because actually, only few get_xxx functions will have an accurate return value, like `get_selects_for `.
+ For always taking/returning references or never, I think maybe what `HashMap` has done is better. For some funct

[2017-09-21 04:17] sushant94 opened #93 "Coveralls report is broken"
Seems to be a bug in travis-cargo. See travis-cargo#72.

[2017-09-21 08:27] sushant94 opened #94 "Bug in marking selector"
Current implementation forces that a selector must belong to the block that it selects for. However, this is not necessarily true (an expression computed in some other block may be used to determine the control flow of some other block). This is a bug in the way selector is assigned to blocks in phiplacement.rs:finish().

[2017-09-21 08:58] sushant94 commented on #80
@ZhangZhuoSJTU More suggestions (I'll update here if I see any more):
- Rename start_node in CFG with entry_node. This makes more sense as entry/exit node is the more conventional terms.

[2017-09-21 14:37] ZhangZhuoSJTU commented on #79
As for #92 , I think this issue could be closed. @sushant94

[2017-09-21 14:46] ZhangZhuoSJTU commented on #80
Update APIs, please check. And I will make a PR within 24 hours. If there are some other suggestions, we could make some changes basing on this ;P

[2017-09-21 16:34] chinmaydd commented on #80
I think rather than `Option` we should be using `Result`. We can be more verbose about what errors we handle what we dont. But this is okay I guess.

Also what about the plan for avoiding tuples? :P We can define a struct with all fields of type `Option<MainType>` so that we can set the rest as `None` and just provide the ones we want.

Apart from that it looks good :+1:

[2017-09-22 07:07] #94 closed

[2017-09-22 07:08] sushant94 commented on #86
Done in #95

[2017-09-22 07:08] #86 closed

[2017-09-22 07:09] sushant94 commented on #79
Done in #92

[2017-09-22 07:09] #79 closed

[2017-09-22 07:12] sushant94 commented on #85
After #95, the selector test for unconditional branches has been disabled. This needs to be re-enabled and checked when the target of an unconditional is not:
1. A single target - Analysis of an indirect CF transfer may resolve it to a set of possible targets.
2. Unresolved - No analysis has been run to determine the possible targets.

[2017-09-22 11:18] ZhangZhuoSJTU commented on #80
@chinmaydd  Hah, For tuples, I have written in the code, but forget the change the list ;P
And for `Option`, I think `Option` is much better, for sometimes, it's not an error, but just do not have this value.

[2017-09-22 11:22] XVilka commented on #80
Result of an Option.

On Sep 22, 2017 7:18 PM, "izhuer" <notifications@github.com> wrote:

[2017-09-24 17:58] chinmaydd commented on #80
Ok, I dont know if I am too late but discovered this yesterday: https://github.com/rust-lang/rfcs/blob/master/text/0344-conventions-galore.md#gettersetter-apis . We might have to get rid of the "get_" prefix for getter methods. :P

[2017-09-25 00:59] ZhangZhuoSJTU commented on #80
@chinmaydd let me check, if it's ok, I could do the change.

[2017-09-26 04:10] ZhangZhuoSJTU commented on #80
Make a reference to NodeIndex/EdgeIndex is redundant, imho. Because NodeIndex/EdgeIndex is only a simple index number, and works as a reference.

[2017-09-28 08:19] #80 closed

[2017-09-30 04:59] sushant94 commented on #87
Done in #96. Concat/Extract can be added later on when we find them necessary.

[2017-09-30 04:59] #87 closed

[2017-09-30 05:00] sushant94 commented on #78
Opcodes were added in #96. Need to make use of these new opcodes during IR generation.

[2017-10-02 16:34] XVilka commented on #85
@ZhangZhuoSJTU any update on this one?

[2017-10-17 17:41] sushant94 commented on #93
Don in #99

[2017-10-17 17:41] #93 closed

[2017-10-19 23:10] sushant94 opened #100 "Iterators for new containers"

[2017-10-19 23:11] sushant94 opened #101 "Deprecate the use of old containers"

[2017-10-19 23:11] sushant94 opened #102 "Improve loaders by loading in more information"

[2017-10-20 01:38] sushant94 opened #103 "`SSAConstruct` should take `RadecoFunction` rather than `SSAStorage`"

[2017-10-23 19:01] sushant94 opened #104 "Add notes on implementing new opcodes"

[2017-10-26 02:33] ZhangZhuoSJTU opened #105 "Handle syscall in RadecoIL"
What I am wondering is to make a fake function to handle syscall,  which is lacked in RadecoIL.

[2017-10-26 03:33] XVilka commented on #105
I think the same applies to TODO opcode, so radeco would take original instructions and insert it as a function-intrinsics. Same applies for imported functions, may be some builtins, etc. So it has the benefits for the readability by the user, and also an ability to reason about.

[2017-10-28 23:57] sushant94 opened #106 "Generics for intra-function analysis passes"
All intra-function passes should have a *similar* structure to allow us to view them as passes. This allows us to then have a pass manager (much like the one in LLVM) that schedules these passes. Additionally, individual passes could also be developed by other users and still work within the eco-system.

Points of discussion:
 - Traits / Structs needed to accomplish this goal.
 - Declaring depende

[2017-10-30 13:03] XVilka opened #107 "Move radeco and rune repositories into another namespace"
Because the project indends to be quite big and Rust encourage splitting projects into a small crates, it makes sense not to clobber "radare/" namespace, but make a dedicated one for that.

 - [x] https://github.com/radare/radeco-lib
 - [x] https://github.com/radare/rune
 - [x] https://github.com/radare/esil-rs
 - [x] https://github.com/radare/arch-rs
 - [x] https://github.com/radare/ir-rs
 - [x]

[2017-10-30 13:03] XVilka commented on #107
err, I meant @radare

[2017-10-30 15:32] sushant94 commented on #107
+1 for this. I suggest we have something like `radare-rs/` org/namespace (or any variation of that, `radareorg-rs/` etc.)

[2017-10-30 15:33] sushant94 commented on #77
@XVilka We have `OpCustom`, maybe we can use that for now?

[2017-10-30 16:05] chinmaydd commented on #107
Yep, +1 for this.

[2017-10-31 05:23] XVilka commented on #106
It was our initial idea years ago after all. But there should be an ability to change the sequence of those passes manually (or repeat some if needed).

[2017-10-31 05:28] XVilka commented on #106
1. I think there should be two dependency types - if some "source" is present, like external radare2 or radeco plugin, and if some passes ran before.
2. Differentiate those passes that change the graph and those who not.

[2017-11-07 03:18] ZhangZhuoSJTU commented on #107
Cannot agree more ;P

[2017-11-07 03:26] ZhangZhuoSJTU commented on #106
@XVilka Do you mean the graph structure of SSA, like removing a dead block?

Btw, do you have some basic idea about Trait or Structs? I think it would benefit if we could build a basic structure and work on this.

[2017-11-09 06:26] XVilka commented on #106
@ZhangZhuoSJTU yes, like your example.

[2017-12-07 18:53] kriw commented on #47
I'd like to work on this issue but there are unclear points for me.
* When `unwrap` (or something can panic) has failed and panic, should it return some appropriate value and should the program go on decompilation?

* If it should return some appropriate value when it fails, can the value be whatever?
(e.g if unwrap of Option<u8> value fails, it should return 0.

Thank you,

[2017-12-09 08:59] sushant94 commented on #47
@kriw So, there are two kinds of failures which can occur:

1. Failures that prevent us from making any progress (in a particular function, or the entire process)
2. Minor failures that may introduce bigs/imprecision but allow us to continue

For the first type, we want to return an `Error` (or, an `Option`) type from the function. The caller can then decide if it can continue (and log this), or a

[2017-12-12 14:21] kriw commented on #47
I made some progress, do you expect something like this ↓?
https://github.com/kriw/radeco-lib/commit/420be482472b8a4fdcef2c9f9880d4a5163ea41f

[2017-12-18 04:03] XVilka opened #110 "New ESIL ops support"
https://github.com/radare/radare2/pull/9040

Havent checked the radeco sources yet, filling just in case.

[2017-12-18 05:46] ZhangZhuoSJTU commented on #110
I will check this week. ;P

[2017-12-18 06:15] chinmaydd commented on #107
Should we move ahead on this XVilka? I think now would be a good time to do it, before we get back to dev.

[2017-12-18 07:20] XVilka commented on #107
Only @radare can do that. Can you @radare please create a new namespace, I don't know what is the best name, radare-rs? And transfer new projects into it. Or we can move everything in radareorg:
 - [ ] https://github.com/radare/radeco-lib
 - [ ] https://github.com/radare/rune
 - [ ] https://github.com/radare/esil-rs
 - [ ] https://github.com/radare/arch-rs
 - [ ] https://github.com/radare/rune
 -

[2017-12-18 07:47] chinmaydd commented on #107
Even https://github.com/radare/ir-rs was created and I think we should move that as well.

[2017-12-19 01:26] sushant94 commented on #107
+1 for radare-rs/ org

[2017-12-19 18:10] kriw commented on #47
@sushant94 ping

[2017-12-19 18:24] sushant94 commented on #47
Oops, sorry this got past me. Checking it out.

[2017-12-19 18:28] sushant94 commented on #47
@kriw Yep, that would be the way to go.

But IMO, it is first important to decide which of the `unwrap` are allowed to fail, and we still make progress. For these, what you've done above is good, i.e. log the error and continue with defaults.

For others, we need to return an `Err` from the function. I think not finding the register state is not something you can recover from (as the SSA should ha

[2017-12-30 08:38] #100 closed

[2017-12-30 08:38] #101 closed

[2017-12-30 08:38] #102 closed

[2017-12-30 22:00] sushant94 commented on #47
Done in #111 .

[2017-12-30 22:00] #47 closed

[2018-01-03 19:40] chinmaydd opened #114 "radeco-lib should use structures provided by arch-rs for better compatibility"
With `arch-rs` written to abstract away, architecture-specific structures should be imported from it. They are (and not limited to):

- [ ] Modify `regfile.rs` so that `SubRegisterFile` implements required traits.
- [ ] Calling Convention used in new `radeco_containers` should be imported from `arch`.
- [ ] `RadecoProject` should include architecture for the analysis.

[2018-01-03 19:42] chinmaydd commented on #88
`RegisterFile` was implemented as a trait in `arch-rs` and a new issue(#114) was opened to generalize inclusion of various structures from the same, hence closing this.

[2018-01-03 19:42] #88 closed

[2018-01-03 19:48] chinmaydd commented on #105
Could we leverage existing `OpCall` opcode for this? We could parametrize it suitably to allow for undefined/built-ins/syscall based functions. Another advantage of this would be in inter-functional analyses in rune (so as to skip these functions).

Thoughts?

[2018-01-16 01:09] #27 closed

[2018-01-23 00:14] #34 closed

[2018-01-23 01:36] sushant94 opened #117 "Parsing text based radeco-ir into graph representation"
This would allow us to write IR to files and load them up at a later point in the analysis. It would be nice if we could do this with a parser generator in rust, such as [lalrpop](https://github.com/nikomatsakis/lalrpop)

[2018-01-23 01:38] sushant94 opened #118 "Simple Type System in IR"
Currently, we have the ability to mark nodes as either a scalar (not an address) or a reference (pointer/reference). We'd like to take this a step further and be able to assign primitive (C like) types for nodes to make the IR more expressive.

[2018-01-23 01:43] sushant94 opened #119 "Minidec should use latest improvements from radeco-lib"
Minidec currently uses the old deprecated containers. This should be ported to use the latest container systems.

Additionally, we should also look into adding more command line options to select analysis run in minidec as radeco is not actively developed.

[2018-01-23 01:46] sushant94 opened #120 "Make accessing bindings in `RadecoFunction` more ergonomic"
Currently, accessing `Bindings` in `RadecoFunction` is not elegant. We should improve support for this. This should also be extended to improve accessing of type and other node information related to these bindings.

[2018-01-23 13:39] kriw commented on #37
Is the goal of the issue fixing `rip + #20000` to actual value (if you're dealing with x86_64)?
e.g.)
`%9: $Unknown64(*?)  = #x20075e + rip`
 to
`%9: $Unknown64(*?)  = #x60375e` (where 0xx60375e = #x20075e + rip) ?

[2018-01-23 13:54] sushant94 commented on #37
@kriw Yes, this is exactly the goal.

[2018-01-23 16:10] ZhangZhuoSJTU opened #121 "Basic Structure for VSA"
I am working on VSA, and need some help about basic structure design for VSA.

Now, I have some ideas about the implement.

+ Add a new member in SSAStorage, used for Value Set. And implement new methods in SSAExtra to calculate it.
+ Design a new analysis stage, which could analyses Value Set and generate a mapping from IR to Value Set.
+ Add a new member which looks like _Option\<ValueSet\>_ in

[2018-01-24 06:57] XVilka commented on #118
Can you elaborate what exactly types you want?
Would be nice to support dependent types (constrained types) at some point, but probably this is for higher level abstraction levels.

[2018-02-12 20:25] kriw commented on #119
Currently, I'm working on this issue, and have two question.
These two questions are about src/analysis/interproc/fixcall.rs.

1, What should `bind.mark_preserved()` be replaced with?
It seems there is no alternative function.
https://github.com/kriw/radeco-lib/commit/90135ce7bcb61d1087c0cdde08b6427b77558255#diff-5c08fc240978b9c76be181eb6798a545R293

2. What is `call_site` ?
It seems we can get 'c

[2018-02-12 20:39] sushant94 commented on #119
* I would suggest fixing `src/analysis/interproc/fixcall.rs` in another issue. For that, you would need to extend the current bindings struct to include preserved/modified/etc. flags, and then implement the  above on top of that.

* The call-graph is currently implemented as a graph, where the nodes are  function start addresses. An edge from `A -> B` indicates A calls B and  the edge data contain

[2018-02-17 14:14] Daniele-B opened #124 "capstone rust build failed"
i've tried to install radeco from this github repository, but capstone_rust v0.2.3 failed to build.
this is the output i've got:

`Compiling capstone_rust v0.2.3 (https://github.com/sushant94/capstone-rust#6f780c04)
error: failed to run custom build command for 'capstone_rust v0.2.3 (https://github.com/sushant94/capstone-rust#6f780c04)'
process didn't exit successfully: '/root/radeco-lib/target/de

[2018-02-17 21:51] sushant94 commented on #124
@Daniele-B Seems like you're missing capstone. Are you sure you have this installed on your system?

[2018-02-19 11:58] MSleepyPanda commented on #114
I'm working on this issue.

[2018-02-19 12:54] MSleepyPanda commented on #114
I have a few questions re: API in arch-rs and its interaction with radeco.

1. The [setters](https://github.com/radare/arch-rs/blob/master/src/regfile/regfile.rs#L74-L90) for BasicRegInfo take `&mut` to themself, yet a `RegisterFile` can only return [`&(BasicRegInfo + Clone)`](https://github.com/radare/arch-rs/blob/master/src/regfile/regfile.rs#L98-L101). This makes Registers once added to a `Regi

[2018-02-19 13:28] MSleepyPanda commented on #124
FWIW, i've built radeco successfully on a fresh WSL (hence Ubuntu) installation by installing
- pkg-config
- clang
- libclang-dev
- libcapstone3
- libcapstone-dev
- libssl-dev
- radare2
- libradare2-dev

with apt from the default sources. Some things might be redundant (libclang-dev?) but it works for me.

[2018-02-19 13:44] Daniele-B commented on #124
I didn't install libcapstone-dev, now capstone_rust compiles, but radeco lib says this:

` Compiling radeco-lib v0.1.0 (https://github.com/radare/radeco-lib#91845123)
error[E0554]: #![feature] may not be used on the stable release channel
  --> /root/.cargo/git/checkouts/radeco-lib-bf219eb1a7e916cc/9184512/src/lib.rs:46:1
   |
46 | #![feature(box_patterns)]
   | ^^^^^^^^^^^^^^^^^^^^^^^^^

error[E0

[2018-02-19 14:23] MSleepyPanda commented on #124
You need a nightly rust compiler. The preferred installation method for rust is [rustup](https://www.rustup.rs/).

You can either install the nightly toolchain as default when installing rustup or later on in the command line, given that rustup is in your PATH:
[code]
If you want to set nigthly as a default, execute
[code]
But if you want to use nightly only in this project, navigate to the root f

[2018-02-19 18:50] chinmaydd commented on #114
1. Yes, that is intended. If you see the `BasicRegInfo` trait and the struct members it exposes via its getter and setter methods, none of them are prone to repeated modifications in most implementations. Consumers of the library are free to implement `RegFileExtra` or something similar which can take a mutable reference to a struct implementing `RegisterFile` and modify its members.

2. (and 3) I

[2018-02-19 19:48] MSleepyPanda commented on #114
Copying data into a newtype is also not a solution, since `RegisterFile` returns Option<&B>, making it not possible to return an ad-hoc created value.

My preferred solution would be to move necessary information into the register structs. We can still search for or filter structs based on field values in a `Vec<RegisterType>`. At first glance, `arch-rs` seems to provide a useful interface, i'd ra

[2018-02-19 22:09] #37 closed

[2018-02-22 21:28] HMPerson1 commented on #117
I'd like to work on this.

So essentially I would write a function
[code]
correct?

[2018-02-22 22:50] sushant94 commented on #117
@HMPerson1 Yes, that is the plan. I'd suggest making a simple version of it first, test it out. Then go top-down and add in missing information, enhance it, etc.

[2018-03-01 12:52] MSleepyPanda commented on #114
Just a quick heads-up :)

I'm trying to allocate a bit time between exams and work.
These are bigger refactorings than anticipated and i'm still working through the software stack to make sure my changes are logically correct / sensible. Is there already documentation out there which explains the (anticipated?) big picture / interplay between radeco and radare?

I hope to have a PR in the next two

[2018-03-02 18:06] sushant94 commented on #114
@MSleepyPanda Great! Please feel free to discuss your approach and ideas. Its better to have small, incremental discussions and implementation, rather than one giant PR :)

[2018-03-02 19:25] sushant94 commented on #124
This seems to be resolved. Closing.

[2018-03-02 19:25] #124 closed

[2018-03-03 09:50] MSleepyPanda commented on #114
Would it make sense to rename SubRegister-/File to RadecoRegister-/File or something similar? I've stumbled a few times upon SubRegister, thinking it would be some partial Register? Didn't make sense to me

[2018-03-03 10:47] MSleepyPanda commented on #114
Just to make sure i'm on track:
1. The SubRegister/SubRegisterFile are the implementations for Radeco IR?
1.1 So this would enable users to use a library generic over arch-rs to understand this IR?
2. Is registering calling conventions desired? Or shall they be fetched from architecture?
3. Are there specific places which should be generic over architecture? Found [AbstractStore](https://github.co

[2018-03-04 01:38] kenta7777 opened #128 "build failure"
environment
- rustc version: 1.26.0-nightly
- OS: Ubuntu 16.04

builds redeco-lib by below command.
`rustup run nightly cargo build`

the below message occurs and cannot build.
`error: linking with `cc` failed: exit code: 1`

[2018-03-04 22:12] MSleepyPanda commented on #128
Can you paste the whole linker output? The error is to generic to diagnose this without the full output

It builds fine in my dev env, WSL with current Ubuntu, so my guess would be that there is some dependency missing.

[2018-03-05 06:14] kenta7777 commented on #128
@MSleepyPanda sorry, this is full output.
`$ rustup run nightly cargo build
   Compiling radeco-lib v0.1.0 (file:///home/kenta/radeco-lib)
warning: use of deprecated item 'radeco_lib::frontend::containers::RadecoModule': Replace with `radeco_containers`
  --> minidec/main.rs:24:5
   |
24 | use radeco_lib::frontend::containers::RadecoModule;
   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2018-03-05 08:19] MSleepyPanda commented on #128
Disclaimer: I don't speak chinese so i have to trust Google Translate.

Seems like it can't link to capstone, did you install
 * libcapstone3
 * libcapstone-dev

See https://github.com/radare/radeco-lib/issues/124#issuecomment-366693060

[2018-03-05 14:30] kenta7777 commented on #128
@MSleepyPanda I'm sorry to trouble you.I have already installed both but got the error.

[2018-03-05 15:13] MSleepyPanda commented on #128
No worries!

Hmm strange... maybe some architecture issues? Are you targeting x86 or x64 (or something else)? Can you find out for which architectures your version of capstone is built for?

[2018-03-06 01:46] kenta7777 commented on #128
yes. I'm targeting x86_64 architecture.

[code]

[code]

[2018-03-08 06:31] chinmaydd commented on #114
ping @sushant94

[2018-03-10 15:01] chinmaydd commented on #114
Okay, looks like Sushant is busy. I will try to answer to the best of my knowledge.

- (1) From what I understand, that does seem to be right. The main motive to implement the `Register` and `RegisterFile` trait is to have uniform backend across libraries trying to leverage r2/radeco analysis.
- (2) Ideally, any `CC` should be defined in `arch-rs` and imported from the library.
- (Also) Yes, I und

[2018-03-13 11:10] XVilka commented on #121
Is it still true?

[2018-03-15 16:53] megumish commented on #120
I'm going to work on this issue.Before, I have a some question.
First,  when we make accessing bindings in RadecoFunction, it need call function.But I think that's not need.
Because I seem that this function simply return bindings-variable, so we may make access usually as member-variable. However, I think that it is good if it is the coding rule of this project.
Second, I look enough ergonomic on

[2018-03-16 22:05] sushant94 commented on #120
Hey @megumish, The idea is to return a struct with various fields such as: NodeIndex, ValueType etc. and making iterators over bindings. For example, a function called `.arguments()` should return all bindings which are arguments (and so on).

[2018-03-16 23:08] #117 closed

[2018-03-17 02:43] megumish commented on #120
Oh I see.
I try implementing `.arguments()` in RadecoFunction for now.

[2018-03-17 03:06] XVilka commented on #128
@kenta7777 is this issue still reproducible?

[2018-03-20 17:27] kenta7777 commented on #128
Yes. I still have this problem.

[2018-03-24 14:50] kriw opened #132 "WrappedR2Api should use generic type"
Currently WrappedR2Api is implemented as `pub type WrappedR2Api = Rc<RefCell<R2>>;`
We need to implement `pub type WrappedR2Api<R> = Rc<RefCell<R>>;` so as to use other than R2.

The problem is that `send` is not implemented in trait `R2Api`, but implemented in struct `R2`.
`send` is a function defined in trait `Source`

[2018-03-25 14:16] kenta7777 commented on #128
@XVilka
- rustc 1.26.0-nightly
- Ubuntu 16.04

This is the entire error messages.
[code]

[2018-03-25 18:26] HMPerson1 commented on #128
Can you run `apt list libcapstone3 libcapstone-dev` and paste the output here?

[2018-03-25 23:25] kenta7777 commented on #128
@HMPerson1
[code]

[2018-03-28 06:38] kriw opened #134 "Constant Propagation does not seem to work"
binary: [bin.zip](https://github.com/radare/radeco-lib/files/1854782/bin.zip)
Whole output of sym.main
[code]

[code]
Above two lines should be
[code]

[2018-03-30 15:44] #134 closed

[2018-04-26 15:51] HMPerson1 opened #136 "C AST Architecture Discussion"

[2018-04-27 05:53] kriw commented on #136
C AST is defined [here](https://github.com/radare/radeco-lib/blob/master/src/backend/lang_c/c_simple.rs).
For converting IR -> AST, I think we need more simple C-AST which have only necessary operator such as `Div`, `Mul` instead of `Shr`, `Shl` and only `Goto`s instead of `Loop`, `Break`.
What I mean is to define another struct as a subset of [CASTNode](https://github.com/radare/radeco-lib/blob/m

[2018-05-07 13:42] MSleepyPanda commented on #114
I can't find time to work on this. Feel free to give it to someone else / take it :)

[2018-05-07 16:58] chinmaydd commented on #136
The idea seems good to me 👍

We should expose a mechanism to allow the user to implement analysis passes over both the AST structures in this case and improve overall decompilation. Can help evaluate PoC algorithms.

[2018-05-11 03:14] HMPerson1 opened #141 "Constant propagation appears to be bugged"
running constprop on `sym.main` in `ex-bins/simple2`
before: [sym.main_PRE.txt](https://github.com/radare/radeco-lib/files/1993848/sym.main_PRE.txt)
after: [sym.main_POST.txt](https://github.com/radare/radeco-lib/files/1993850/sym.main_POST.txt) -- a block that had two successors now has none

[2018-05-11 03:47] #132 closed

[2018-05-11 05:02] kriw commented on #136
This is my detailed idea,

## Simple C-AST
This is equivalent to block by block C-AST.
The block is a slice of instructions which starts from function's entrypoint or end point of jmp, branch instruction, also ends at the end of function, or jmp, branch instruction.

[code]

CASTEdge and Expr node of the AST can be same to the C-AST which is final output.
Possibly we can implement Simple C-AST jus

[2018-05-11 15:53] chinmaydd commented on #128
HI @kenta7777, while my upgrade to Ubuntu 16.04 recently I faced a couple of issues with `capstone-rust`. This was particularly due to bindgen. It requires clang-3.9 and greater. Try getting a list of older installed versions and removing them.

[code]

(and remove versions below 3.9).

Make sure you have updated your `cc` to point to the latest clang binary.

[2018-05-15 08:41] kenta7777 commented on #128
@chinmaydd Thanks to your advice, the build was successful! Thanks!

[2018-05-15 08:41] #128 closed

[2018-05-16 10:44] kriw commented on #136
I have submitted PR #145.
The architecture of SimpleCAST in the PR is different from the one mentioned above.
The architecture is similar to `SSAStorage`. Each node is value or action. Value represents variable or immediate value, action represents call, goto, assignment, etc.

[2018-05-17 03:48] HMPerson1 opened #147 "Better analysis for finding preserved registers"
`analysis/functions/infer_regusage.rs` currently finds registers that are guaranteed to be preserved assuming only that imported functions adhere to platform-standard calling conventions. It is very conservative otherwise; it makes no assumptions about the stack.

I think `analysis/interproc/fixcall.rs` is supposed to find registers that are preserved by pushing/popping them on/off the stack and a

[2018-05-22 01:06] HMPerson1 opened #153 "SCCP panics on `OpStore`"
[unimplemented!()](https://github.com/radare/radeco-lib/blob/3a56b81b493b31ac7e5df17148b2d463dbbc92d3/src/analysis/sccp.rs#L351)

[2018-05-22 01:46] HMPerson1 opened #154 "`phi_placement` does not assign a size to the last basic block"
[ref](https://github.com/radare/radeco-lib/blob/3a56b81b493b31ac7e5df17148b2d463dbbc92d3/src/middle/phiplacement.rs#L1008)

[2018-05-22 02:34] ZhangZhuoSJTU opened #155 "Predicates for Conditional Branch Instructions"
__I need some time to catch you guys up. What an amazing progress you have taken!__

Right now, I think we might need to get the **predications for conditional branch instructions**, which might be very useful in several analysis stages including VSA I will rewrite these days. And no matter when, we will need these information for the decompilation output.

However, conditional flag registers are

[2018-05-22 04:43] ZhangZhuoSJTU commented on #147
Hi, I have spent so much time on my graduation project that have a long gap about Radeco. Sorry about that.

You are right, my original idea about `fixcall.rs` is based on the assumption that we cannot analyze all the functions. Because at that time, Radeco cannot distinguish whether the function is imported or inside the binary, and some other limitations. So the only way to calculate preserved r

[2018-05-22 04:51] ZhangZhuoSJTU commented on #155
To tell the truth, we are always going to met some problems which depended on architectures, and need some architecture-depended analyzer. *Does it work if we use `RadecoProject` to specify these analyzers and backends?*
@sushant94 @XVilka

[2018-05-22 09:30] ZhangZhuoSJTU commented on #147
Hi, I have gone through the code in `analysis/functions/infer_regusage.rs` and have some little questions.

+ `analysis/functions/infer_regusage.rs` actually will find all the registers which doesn't use in the functions, for which I guess there would be no found. Because the register source is very scarce and modern compilers will not leave any register without any using. To analyze preserved reg

[2018-05-22 15:32] kriw opened #156 "Construct C-AST from Radeco-IR"

[2018-05-22 16:32] radare commented on #107
done

[2018-05-22 16:32] #107 closed

[2018-05-24 03:00] kriw commented on #156
I will read these papers,
1. [Assembly to High-Level Language Translation](http://perso.citi.insa-lyon.fr/afraboul/bib/pdf/icsm98.pdf)
2. [Native x86 Decompilation using Semantics-Preserving Structural Analysis
and Iterative Control-Flow Structuring](https://www.usenix.org/system/files/conference/usenixsecurity13/sec13-paper_schwartz.pdf)
3. [No more gotos](https://net.cs.uni-bonn.de/fileadmin/ag/

[2018-05-24 06:15] XVilka commented on #114
So what we decided to do with this one?

[2018-05-24 06:38] chinmaydd commented on #114
Ideally, I would say that this **should have been completed before GSoC** since it requires some refactoring in `radeco_containers`. Looks like @ZhangZhuoSJTU already has plans to integrate architecture-specific analysis (involving conditionals only for now) as discussed here: #155 . If that is integrated into `RadecoProject` I can make required changes in `arch-rs` to ensure compatibility.

As fo

[2018-05-24 06:48] ZhangZhuoSJTU commented on #114
I will follow this up if I come to the point mentioned in #155 . The whole design of architecture-specific analysis may need to be carefully discussed, imho.

[2018-06-01 18:52] kriw opened #163 "`SSAStorage::inorder_walk` does not walk in order of address"
This is tested without constant propagation because the program will panic in constant propagation.
[file.zip](https://github.com/radareorg/radeco-lib/files/2063809/file.zip)

[2018-06-01 20:39] HMPerson1 opened #164 "`ir_writer` doesn't work with loops"
`Phi` nodes are allowed to refer to operands before they're defined (i.e. values from a previous loop iteration). `ir_writer` doesn't account for this and emits errors. Oops. :sweat_smile:

[2018-06-12 04:07] XVilka commented on #85
So, what with this one?

[2018-06-12 04:08] XVilka commented on #55
@HMPerson1 @kriw @sushant94 @chinmaydd @ZhangZhuoSJTU so, what do you think about this one?

[2018-06-12 04:08] XVilka commented on #78
Afaik it was discussed recently.

[2018-06-12 04:11] ZhangZhuoSJTU commented on #85
Let me check the code later today, I am not sure whether these have been finished by other people by chance.

[2018-06-12 12:08] kriw commented on #156
TODOs
 - [ ] Determine local variables from ssa nodes and RadecoFunction
 - [ ] Replace dummy expressions with local variables/registers
 - [ ] Recover function call
- [ ] Splitting into modules
- [ ] Unit tests

[2018-06-13 03:16] #164 closed

[2018-06-18 06:01] ZhangZhuoSJTU commented on #114
Any ideas or progress about this issue?  I am a little confused about this discussion. May I know what your plan of `arch-rs` is ? @chinmaydd @sushant94 ?

Or I could directly work on the conditionals, ignoring this issue.

[2018-06-18 16:20] chinmaydd commented on #114
@ZhangZhuoSJTU I would recommend you ignore this issue for now. I haven't found time to work on it.

[2018-06-18 17:20] XVilka commented on #153
I believe it is fixed now.

[2018-06-18 17:20] #153 closed

[2018-06-18 17:21] XVilka commented on #147
@HMPerson1 @ZhangZhuoSJTU @sushant94 ping?

[2018-06-18 17:21] XVilka commented on #89
@sushant94 since some of those are yours please take some action here.

[2018-06-18 17:23] XVilka commented on #120
So, can we close this one?

[2018-06-18 17:24] XVilka commented on #119
@kriw @sushant94 what is the current state of this one?

[2018-06-18 17:30] XVilka commented on #155
@ZhangZhuoSJTU from my PoV yes, using RadecoProject is the preffered way. Not sure if it works right now though.

[2018-06-19 02:49] kriw commented on #119
Almost done. Currently minidec use the latest containers, but src/analysis/valueset/analyzer_wysinwyx.rs still use duplicated containers.

[2018-06-19 13:54] ZhangZhuoSJTU commented on #155
@XVilka I see. I am checking these in RadecoProject. @sushant94 suggested me to write some llanalyzer, which I think it is a good idea. Working on it.

[2018-06-28 09:49] ZhangZhuoSJTU opened #172 "Standardize analysis stages' APIs"
Right now, radeco-lib have several analysis stages based on SSA (dce, sccp, cse, etc.). There are different APIs of these analyzing stages.

- Some build a  new`Struct`, others are just a `Method`.
- Some are passed a mutable SSA reference and change SSA directly, others are passed an immutable SSA reference and return result SSA.

It makes both users and coders confused. We might need standardize

[2018-06-28 09:49] ZhangZhuoSJTU commented on #172
Any ideas? @XVilka @sushant94 @chinmaydd @kriw @HMPerson1

[2018-06-28 16:22] chinmaydd commented on #172
@ZhangZhuoSJTU yep, that seems like a great standard to implement! It partly came up in my mind during @kriw's code review phase when there was a discrepancy in naming analysis functions (calling it `Analyzer::go`, `Analyzer::analyze`, etc.)

If I am not getting it wrong, you mean to say that `analyze_all` should provide some logic to be run on each function SSA before choosing it for analysis?

[2018-06-28 16:33] ZhangZhuoSJTU commented on #172
Yes, just like what you said.

I am not sure whether there will be any analysis which must be done for all the functions in the future at very beginning. Thus, I leave this logic to be able to handle this situation. (Maybe it is useless. It is ok to remove it tbh)

For now, when the user only want to analyze few functions to short working time (like what minidec does), we could simply mark these f

[2018-06-29 04:53] sushant94 commented on #172
@ZhangZhuoSJTU Yes, we should have a common trait/interface for all analysis.

But some points here, we should make the analysis of two types:
1. Ones that modify the SSA
2. Ones that only analyze and recover auxiliary information and does not modify the SSA

This would allow us to later auto-parallelize and decide which analyses can be run in parallel without issues.

Second part to that is, the

[2018-06-29 04:58] HMPerson1 opened #173 "SSASorter order"
Since `SSASorter` may be seeing more use in the near future, I think now is a good time to bring this up.
I don't think it makes sense to put constants on the left. For the noncommutative operands, constants being on the right are easier to reason about (i.e. the expression `x << 13` is a lot easier to reason about than `13 << x`). For consistency, I think we should put the constants for commutati

[2018-06-30 08:53] ZhangZhuoSJTU commented on #172
@sushant94 Yea, I agree. That's a good point to start with.

Only one question, for the first type of analysis, which level should we open an API at, i.e., function(SSA) v/s module? Most analysis that modify the SSA just need information of one single function. Thus, we could add a new API for `SSAStorage` or `RadecoFunction`. However, there are also very few analysis who is inter-functions, i.e.,

[2018-06-30 09:32] ZhangZhuoSJTU commented on #173
Good observation! If you guys think it is necessary, I could do this in my PR.

[2018-07-02 02:07] kriw opened #174 "Some analysis prevent recovering local variables"
`RadecoFunction` have `HashMap<NodeIndex, VarBindng>` for recovring locals, but some analysis modify NodeIndex of `RadecoFunctions`'s SSA such as `inst_combine`.  We need to avoid the modification or fix the hash map after modification.

These are the possible solutions which comes to my mind.
- Fix the binding automatically
- Fix the hash map key (NodeIndex) automatically
- Recover bindings after

[2018-07-03 04:14] XVilka commented on #118
@kriw please keep this in mind, I think this feature is very important on the long run

[2018-07-03 04:14] XVilka commented on #110
@ZhangZhuoSJTU would be nice to have :)

[2018-07-03 04:52] HMPerson1 commented on #174
`inst_combine` (and most other passes I think) use `SSAStorage::replace_value`, so another approach could be to create dummy nodes in the SSA with edges connecting to the actual value node and then keep only the dummy nodes in the hash map. When the actual value nodes get replaced, `replace_value` will automatically update the edges, and the dummy nodes will still "point" to the correct value node

[2018-07-11 03:11] HMPerson1 opened #180 "`phi_placement` gets confused by backwards jumps"
gziped binary: [buggy.gz](https://github.com/radareorg/radeco-lib/files/2182777/buggy.gz)
<details>
<summary>disassembly from r2</summary>
<p>

[code]
</p>
</details>

In the basic block at `0x0006A0`, there are phi nodes whose operands are empty phi nodes that aren't part of a block. This breaks `ir_{writer,reader}`. Really, the block shouldn't have phi nodes at all since it has only one predeces

[2018-07-13 04:31] XVilka opened #182 "Use Chalk engine for solving constraints and as a decision engine"
https://github.com/rust-lang-nursery/chalk - they are going to use it in Rust compiler itself. Should suit decompiler too.

[2018-07-16 23:48] kriw commented on #156
I am thinking to convert back to `SimpleCAST` from AST which is generated from `backend::ctrl_flow_sturct`.

[2018-07-17 01:54] XVilka opened #183 "Api and command to change the function name, arguments and variables names and types"
When you have the C output, there should be function which changes:

 - [ ] Function name (should also call function name change in radare2 via r2pipe)
 - [ ] Argument name (same)
 - [ ] Local variable name (same, if variable does exist in r2)
 - [ ] Arguments and variables types (also calls `afv`)

Related to https://github.com/radare/radare2/issues/10102

Related to https://github.com/radareorg/

[2018-07-17 01:57] XVilka opened #184 "Integration with radare2"
To edit something in r2, refresh the radeco view, same in reverse order. See https://github.com/radareorg/radeco-lib/issues/183 as an example.

@wargio @sivaramaaa  @radare  please help us with defining the interface/API

[2018-07-17 02:02] XVilka commented on #85
@ZhangZhuoSJTU are there any updates on this one?

[2018-07-17 02:03] XVilka commented on #29
@ZhangZhuoSJTU hi! Will you check please this issue?

[2018-07-17 02:03] XVilka commented on #35
This one is very important and related to https://github.com/radareorg/radeco-lib/issues/184

[2018-07-17 02:05] XVilka commented on #184
For the C output I suggest to use existing editor so it will be easier to provide all nifty features: https://github.com/google/xi-editor

[2018-07-17 02:07] XVilka commented on #184
Or Neovim (then https://github.com/daa84/neovim-lib )

[2018-07-17 04:19] XVilka opened #185 "Document the Radeco library architecture"
Short document on the parts, files structure

[2018-07-17 07:41] wargio commented on #184
i would suggest to integrate a command like a did with `pdd` and then use `e cmd.pdc=<cmdname>` to choose what to call.
For the apis themselves i dunno.
it depends on what you want to integrate..

[2018-07-18 04:33] HMPerson1 opened #188 "How to Remove Capstone"
When reading in ESIL from r2, if the string contains `GOTO`, `TRAP`, `$`, `TODO`, or `REPEAT`, we give up trying to interpret it and instead give the instruction bytes to capstone. We get back which registers it reads and writes and what memory it reads or writes.

They are produced by:
- `GOTO`:
  - [x86 insts with `REP` prefix](https://github.com/radare/radare2/blob/bf9d45fa47ecd787d5634c583974f

[2018-07-18 05:43] HMPerson1 commented on #188
x86 `SAR` was [originally implemented with esil op `>>>>`](https://github.com/radare/radare2/blame/3f8dee8113bf038bd2cacc8c31177037d46a1dc6/libr/anal/p/anal_x86_cs.c#L778), but [`>>>>` had bugs](https://github.com/radare/radare2/issues/7531) so it was [rewritten using `REPEAT`](https://github.com/radare/radare2/commit/75626dde48fad4ac456a046cc77e4c888448ea52). `>>>>` appears to work correctly now

[2018-07-18 14:33] chinmaydd commented on #185
A little outdated but relevant: http://sushant94.me/2015/09/21/radeco

[2018-07-18 14:47] chinmaydd commented on #184
Suggestions for APIs through r2 (and ofcourse JSON interfaces for all of them):

- Load binary in radeco-lib
- Run (absolute) minimal analysis
- List optimization passes (mention those which are experimental.
(radeco can have an internal pass manager to schedule dependent passes as discussed on Tg)
- Apply optimization pass 'x'
- Decompile single function
- Decompile all functions (and write resul

[2018-07-20 01:59] #156 closed

[2018-07-20 04:15] XVilka commented on #184
@Vane11ope already started to work on the implementing visual panel pseudo-code integration: https://github.com/radare/radare2/commit/da93272db3f1fb0b879790cb0f8d922476969fde

[2018-07-20 04:17] XVilka commented on #3
Project on AppVeyor created: https://ci.appveyor.com/project/radare/radeco-lib

[2018-07-20 06:27] XVilka commented on #188
@condret FYI

[2018-07-23 16:02] XVilka commented on #185
Short IR description, basic transformation chain, used algorithms in
various parts of the chain (just name or link them, no need to explain).
Small example in Rust how to use radeco-lib.

On Mon, Jul 23, 2018, 11:25 PM Chinmay Deshpande <notifications@github.com>
wrote:

[2018-07-27 05:48] XVilka commented on #85
@ZhangZhuoSJTU ping? We want to make the first version next month.

[2018-07-27 15:33] NyaMisty opened #278 "Error compileing rune using the latest nightly rust toolchain"
Just now I tried to build rune with ```cargo build``` on a fresh rust install.
Firstly, the capstone_rust module from https://github.com/sushant94/capstone-rust failed to compile. Cargo told me:
[code]
I followed the instruction offered by help, append ".into()" after those lines and then compile passed

Then the rune starts to compile, but it failed with
[code]

[2018-08-01 04:51] XVilka commented on #3
@radare can you please add AppVeyor webhook in this project? For both commits and pull requests?

[2018-08-07 04:44] XVilka opened #201 "Merge everything into "master" branch."

[2018-08-07 04:45] XVilka commented on #174
Do you think  it can be done before 0.1 release?

[2018-08-07 05:41] kriw commented on #174
I think this can be done this week.

[2018-08-07 20:40] HMPerson1 commented on #201
Are we keeping capstone in master?

[2018-08-08 04:10] #201 closed

[2018-08-09 04:16] XVilka commented on #188
So I guess it was done already, am I right?

[2018-08-09 04:21] HMPerson1 opened #207 "Use basic block information from radare"
Currently, we just get a list of instructions from `R2Api::function` (`pdfj`) and then manually make basic blocks whenever we find a jump instruction while constructing the SSA. Radare already provides information about a function's basic blocks (`afbj`), so it would be a lot simpler to just use this instead of rederiving it ourselves. This would also (in theory) allow us to use [information about

[2018-08-09 04:25] HMPerson1 commented on #188
removed in 68f8260489a5e3d20344bd9596ab207f465e0b93

[2018-08-09 09:58] #174 closed

[2018-08-09 09:59] #163 closed

[2018-08-09 10:01] XVilka commented on #90
@sivaramaaa added the parsing of sprintf-like formats, this information can be loaded from radare2.

[2018-08-10 00:10] HMPerson1 opened #208 "Phi nodes need to record which value is associated with which predecessor"
gzipped example binary: [bad_phi2.gz](https://github.com/radareorg/radeco-lib/files/2276152/bad_phi2.gz)
disassembly from r2:
[code]
(shortened) ssa from radeco-lib:
[code]
In `%54 = Phi(%14, %15)`, there's no way to know which value to choose.

[2018-08-10 00:10] HMPerson1 commented on #208
ping @sushant94 @chinmaydd @XVilka

[2018-08-13 04:24] XVilka opened #210 "Location to be replaced by string label"
[code]
Change 8196 by "%d"

[2018-08-13 04:25] XVilka opened #211 "IOLI Crackme0x00.exe/Crackme0x00 C output"
Available in r2r/bins/pe/ioli/w32 and r2r/bins/elf/ioli

<img width="406" alt="image" src="https://user-images.githubusercontent.com/1408600/44003347-937f9ae6-9e51-11e8-9c79-ce87c961bd19.png">

<img width="220" alt="image" src="https://user-images.githubusercontent.com/1408600/44003344-8f669194-9e51-11e8-9456-c733d79a6115.png">

See r2dec:

<img width="596" alt="image" src="https://user-images.git

[2018-08-13 04:26] XVilka opened #212 "Missing semi-colon ; at the end of instructions"
Missing semi-colon ; at the end of instructions see:

![image](https://user-images.githubusercontent.com/1408600/44003406-7b4834dc-9e52-11e8-9c5f-01672b030927.png)

[2018-08-13 05:16] XVilka commented on #141
Did you look into after?

[2018-08-13 05:16] #119 closed

[2018-08-13 12:51] Maijin opened #213 "Use SDB to determine the number of argument of a given function"
`tmp = sym.imp.puts("Hello, world.", rsi, rdx, rcx, r8, r9)`
-> `anal/types/func.puts.args=1`
`tmp = sym.imp.puts("Hello, world.", rsi)`

[2018-08-13 18:55] HMPerson1 commented on #141
I have not.

[2018-08-16 04:14] #35 closed

[2018-08-16 04:16] XVilka opened #216 "Simplify the conditions"
From the example in http://radare.today/posts/gsoc_2018_radeco_pseudo_c_code_generation/

[code]

Obviously these conditions should be simplified.

[2018-08-16 06:48] kriw opened #217 "`sccp` breaks C output"
`analysis::sccp::analysis` causes #211

I think `LatticeValue::Top` is not handled properly in https://github.com/radareorg/radeco-lib/blob/master/src/analysis/sccp.rs#L181

[2018-08-16 10:26] XVilka commented on #213
@Maijin sounds like a good idea. @sivaramaaa do you think anything else can be done here?

[2018-08-16 11:17] sivaramaaa commented on #213
@Maijin , IMHO i think , no need to print the registers if we already no the value in it , the below output will be very close to original C code i guess !

[code]

And yess , if u guys need the command to `afcfj`  to provide `{return type , no of arguments , types of  each argument}`  , pls let me know , i shall implement it !

[2018-08-16 11:36] Maijin commented on #213
yeah well that's up to the @radareorg/radeco team ;) as long as it doesn't print ALL registers that's already better.

[2018-08-16 11:37] Maijin commented on #213
yeah if you can implement such a command i think could be useful for that case

[2018-08-16 11:38] sivaramaaa commented on #213
Okk sure , will do it today !

[2018-08-16 17:39] sivaramaaa commented on #213
So i think i have implemented the afcfj command

[code]
Hopefully this should solve this issue , pls let me know  , if u guys feel anything missing !

[2018-08-17 03:05] #210 closed

[2018-08-17 07:27] Maijin commented on #213
@sivaramaaa  What happens for no-return functions?

[2018-08-17 08:09] kriw commented on #217
This PR is same to #141

[2018-08-17 08:09] #217 closed

[2018-08-17 08:14] #141 closed

[2018-08-17 08:54] Maijin opened #220 "Cannot find function/Invalid address/Invalid address - fcn_list not working"
* [ ] Lot of errors
* [x] fcn_list not working

When doing radeco ~/Documents/Projects/radare2-regressions/bins/pe/ioli/w32/crackme0x00.exe:

[code]

[2018-08-17 08:56] Maijin commented on #211
It's a bit better on windows ioili but still very messy:

<img width="398" alt="image" src="https://user-images.githubusercontent.com/1408600/44257391-23e02700-a20c-11e8-9c12-87641f78c833.png">

And ELF binary:

<img width="606" alt="image" src="https://user-images.githubusercontent.com/1408600/44257410-335f7000-a20c-11e8-8d5a-9dc1a52323f9.png">

[2018-08-26 14:58] ZhangZhuoSJTU opened #221 "Several bugs"
+ When we construct SSA, there is possible a basic block only has a true conditional outgoing edges with false one, but in SSA'a API `conditional_edges`, we require both existed. Bug info sees in attached binary, function fcn.00400da0

+ We might need a new opcode `OpEq`. There is a situation when a basic block only contains `mov` instructions. Right now, one opcode would contains all the register

[2018-08-27 05:31] XVilka commented on #221
@HMPerson1 @kriw @chinmaydd what do you think?

[2018-08-31 05:33] XVilka opened #223 "quickcheck wtf"
[code]

[2018-09-01 19:56] ZhangZhuoSJTU commented on #223
I failed on this too... Always failed...

[2018-09-10 16:42] #136 closed

[2018-09-10 17:08] kriw commented on #33
I think this issue is no longer valid because addresses in c code are already replaced.

[2018-09-10 23:32] Maijin commented on #33
Still not working see:

[code]

[2018-09-15 12:44] chinmaydd commented on #220
Hi @Maijin , can you try using the command `fn_list` instead of `fcn_list`? I am getting correct output (including decompilation) with radeco v0.1.0.

[code]

[2018-09-15 13:10] Maijin commented on #220
What's the difference, can you document it? If fcn_list is deprecated, can you remove it?

[2018-09-15 13:13] kriw commented on #220
There is not `fcn_list`. You can find commands with `help`.
[code]

[2018-09-20 06:48] #223 closed

[2018-09-20 06:51] kriw opened #227 "Test ctrl_flow_struct::graph_utils::test::qc_nearest_common_dominator fails"
Sometimes it fails because the test cases are generated at random.
![appveyor_fail](https://user-images.githubusercontent.com/13299299/45800783-e2e8a000-bcec-11e8-975a-fc8628d70604.png)

[2018-09-20 14:36] chinmaydd commented on #3
radeco is now available in r2pm. Looks like all of the above are now solved.

[2018-09-20 21:45] #3 closed

[2018-09-21 14:46] #220 closed

[2018-09-26 06:41] XVilka commented on #85
@ZhangZhuoSJTU can you please finish this one? Seems not that much work is left.

[2018-09-26 17:58] ZhangZhuoSJTU commented on #85
Sorry, I forgot this one. Right now I have a finished `SSAVerifier`, but it will fail (all the time) because our SSA does have many bugs. If we want to let the test pass, we should close the verifier.

Anyway, I will finish this one this week when I am free. It's quick.

[2018-09-27 01:28] XVilka commented on #85
This is good that it shows the bugs, it is the purpose after all.

On Thu, Sep 27, 2018, 1:59 AM izhuer <notifications@github.com> wrote:

[2018-09-27 08:11] XVilka commented on #207
@HMPerson1 any update on this one?

[2018-10-07 17:16] jrozner opened #293 "Rust package restructuring"
This is a proposal to restructure the radeco related rust based code and merge the related crates into a single repository that utilizes a Cargo workspace. It would include the following crates:
- [x] radeco
- [x] radeco-lib
- [x] esil-rs
- [x] arch-rs
- [ ] radeco-regressions
- [x] rune

Depending on future development of rust based components with respect to r2 in general this could become the c

[2018-10-08 05:06] XVilka commented on #91
Now @sivaramaaa added support of this in radare2 would be nice to start working on the support at radeco side.

[2018-10-17 07:00] XVilka commented on #121
See also VSA implementation for BAP https://github.com/draperlaboratory/cbat_tools

[2018-10-23 05:32] kriw commented on #221
Now `OpMov` is added by PR #230 .

[2018-10-29 09:19] XVilka opened #232 "Constrained types support"
Depends on https://github.com/radare/radare2/issues/11828

After it is fixed, radeco should be able to load the information from radare2 about constrained types and use it.

[2018-10-31 15:43] kriw commented on #33
It seems this issue is fixed at 1cafd03
[code]

[2018-11-01 11:36] XVilka commented on #33
@Maijin can you please confirm?

[2018-11-04 09:21] Maijin opened #233 "Replace Sj by iSj or omj"
When opening a binary:
`|ERROR| Invalid command 'Sj' (0x53)`

`S` (and by extension `Sj`) has been deprecated.

Now you must use `iSj` if you want to get RBin information, or `omj` if you need the mapping information.

[2018-11-04 09:24] Maijin opened #234 "Add warning/error when radeco file does not open a file"
If you do radeco file, with file not existing, there is no warning/error which can be very confusing.

[2018-11-05 16:51] #233 closed

[2018-11-06 04:42] #234 closed

[2018-11-10 17:07] Maijin commented on #213
https://github.com/wargio/r2dec-js/commit/3cfd552cad35275eada93f9d92075f5e5b9bcde5

[2018-11-11 11:26] Maijin opened #235 "Add C Syntaxic color"
Like in r2dec, add a basic C syntaxic coloring on the decompilation, reuse an existing library is probably the way to go for this.

[2018-12-03 23:51] Maijin commented on #235
Why this is not enabled by default @kriw ?

[2018-12-12 15:10] Mm7 commented on #216
I'd love to work on this. Probably a new analysis is needed, something like analysis/arithmetic. It should take complex expressions, match them to some identities (like a^a=0, a+0=a, ...) and apply the substitution.
I'm just wondering if analysis/inst_combine can be extended to do that.

[2018-12-12 17:18] XVilka commented on #216
@Mm7 note it is *partly* related to https://github.com/radareorg/radeco-lib/pull/171

On the other hand, the simplification itself can be done without the graph access.

[2018-12-27 11:16] XVilka commented on #182
Note there is an interesting idea of using Prolog-like (Datalog) query interface to extract knowledge from the program: https://github.com/maurer/thesis/
The named the engine Holmes:
"Holmes is a dialect of Datalog, tailored with extensions for the specific use case of analyzing
compiled code."

[2018-12-28 05:08] XVilka commented on #85
@ZhangZhuoSJTU can you please write what is the state of it? @Mm7 this one is important for making sure we get a valid results.

[2018-12-28 05:13] XVilka commented on #221
@Mm7 see also these regarding the correctness of the output.

[2018-12-28 05:37] kriw commented on #221
I think selector is not deleted in DCE.

Now, symbol is not used to identify functions.  (See https://github.com/radareorg/radeco-lib/pull/224/commits/e1b81edb770d08b62a799aa754b2d1751b8e8839)
But the problem will be reproduced if we use symbols.

[2018-12-28 07:53] ZhangZhuoSJTU commented on #221
@kriw

I have checked the DCE code, it seems possible for DCE to remove selector when the selector is a phi node.

Let's see the [code](https://github.com/radareorg/radeco-lib/blob/master/src/middle/dce.rs). For function `fn mark`, it uses following code to check whether the code is dead.

[code]

It a phi node is selector and it is not used by other opcodes, following loop will miss it.

[code]

[2018-12-28 08:02] ZhangZhuoSJTU commented on #85
I am sorry I might not be able to upload my local SSAVerifier. It seems RadecoIL has changed a lot so that my old code failed. I am so sorry right now I do not have enough time to work on this.

But I think it might be easy to rewrite the verifier by someone who is familiar with the new IR. It would also be a good chance to get familiar with our IR.

Someone who will work on this can get hints fro

[2018-12-28 12:42] kriw commented on #221
@ZhangZhuoSJTU  I can't reproduce the bug.
I tested following steps (at ee9b755dafbea341bcff8a5f83c7d3d2af7ff4d1)
[code]
It seems all selector nodes exist in fcn.00400da0.

[2019-01-17 09:14] XVilka opened #243 "Decompilation into logic"
See http://www.cse.chalmers.se/~myreen/decompilation/fmcad12.pdf

[2019-01-28 06:06] XVilka opened #245 "Don't call functions"

[2019-02-01 05:31] XVilka commented on #182
See also (Pharos) https://edmcman.github.io/pres/ccs18.pdf + https://edmcman.github.io/papers/ccs18.pdf

[2019-02-18 18:25] Mm7 commented on #172
Hi, This should be fixed by #239

[2019-02-25 12:14] kriw commented on #172
@Mm7 Sorry for the late reply,

This idea is not implemented, was this discussed at https://github.com/radareorg/radeco-lib/pull/239 ?

[2019-03-01 05:10] XVilka opened #251 "Assertion failed `(left == right)` during SCCP stage on /bin/ls"
![image](https://user-images.githubusercontent.com/203261/53617690-46bfaf00-3c23-11e9-8cd7-535bcd11bd4c.png)

[2019-03-01 05:22] XVilka commented on #172
@kriw closing this one, if we have additional comments I think it is better to open a new issues.

[2019-03-01 05:22] #172 closed

[2019-03-01 05:24] XVilka commented on #184
@radare @wargio since you yesterday asked - please see this bug and corresponding pad. Please don't create duplicates.

[2019-03-04 04:18] XVilka commented on #184
See also https://github.com/radare/radare2/issues/13257

[2019-03-04 11:01] XVilka commented on #8
Closing this, as unrelated and partially finished. Please open new bugs if you need something particular.

[2019-03-04 11:01] #8 closed

[2019-03-06 13:17] kriw opened #254 "Memory error at analysis::arithmetic"
I tried [ioli/crackme0x00](https://github.com/radare/radare2-regressions/blob/master/bins/elf/ioli/crackme0x00).
The process stopped with the follwing error.
`memory allocation of 1326004114 bytes failedzsh: abort (core dumped)  cargo run`

It seems this error happend at `gmatch::grep`.

[2019-03-06 14:39] Mm7 commented on #254
I saw this exact problem with another binary, but It disappeared after updating radare. Did you try to update it first?

[2019-03-08 05:37] #254 closed

[2019-03-08 05:48] XVilka opened #256 "Fails to get imports - OtherErr(Error("unknown variant `OBJ`))"
![image](https://user-images.githubusercontent.com/203261/54010184-b8aa7200-41a8-11e9-9cc1-74648a73c6cb.png)

[2019-03-08 08:24] #256 closed

[2019-03-22 05:46] XVilka opened #257 "Implement bounded analysis tracking"
See https://core.ac.uk/download/pdf/28903927.pdf

[2019-04-04 05:12] XVilka opened #258 "Rewrite InstCombine and"
- [ ] Arithmetic patterns:
        - https://github.com/radareorg/radeco-lib/blob/master/analysis/patterns
        - https://github.com/radareorg/radeco-lib/blob/master/src/analysis/arithmetic.rs

- [ ] InstCombine patterns:
        - https://github.com/radareorg/radeco-lib/blob/master/src/analysis/inst_combine/combine_rules.rs

Idea is to rewrite them into the runtime-loaded DSL, for which Prolog

[2019-05-30 11:07] Escapingbug opened #259 "Question about portability?"
Really glad to have a decompiler written in Rust, and it is well organized!

But I'm actually not very into Radare2, so I wonder if it is possible to port other disassemblers to use this project. One of my expectation is [Ghidra](https://github.com/NationalSecurityAgency/ghidra) which has great architecture supports and have a well-defined processor description language.

The question is, how clos

[2019-06-02 01:48] #259 closed

[2019-06-02 02:16] Escapingbug opened #261 "Make radeco universal"
In my previous issue in #259 , it seems quite possible to make radeco-lib independent of radare2, thus making everything universal.

I have dug a little bit, and have some thought about how to implement this. But as I'm quite new to this project and have no knowledge about r2, some discussion and instructions are needed for me to proceed.

If I'm right about this, current most important communicat

[2019-06-07 03:10] XVilka opened #262 "AppVeyour and gcc.exe problems"
[code]

[2019-06-07 03:21] XVilka opened #263 "Switch from travis-cargo to cargo-travis."
No joke, it is real:
- https://users.rust-lang.org/t/travis-cargo-status-and-future/9621
- https://github.com/roblabla/cargo-travis/

[2019-06-07 06:48] XVilka opened #264 "Petgraph and Quickcheck"
Currently petgraph doesn't support the most recent quickcheck:

https://github.com/bluss/petgraph/issues/253

So once it is fixed we should update our sources as well (enable quickcheck back).

[2019-06-17 06:35] radare opened #265 "Add := operator and make $ vars operators too"
to be in sync with 3.5's ESIL https://github.com/radare/radare2/pull/13536

[2019-06-17 06:35] dlrobertson opened #266 "Use a parsing framework instead of rolling our own"
Instead of rolling our own lexer etc, it might be worthwhile to check out [pest] or [nom].

[pest]: https://github.com/pest-parser/pest
[nom]: https://github.com/Geal/nom

[2019-06-17 06:35] sushant94 opened #267 "Support for newer opcodes"
ESIL has evolved to include the following new opcodes. We need to support them:
- [ ] `">>>>" ` -- Arithmetic right shift
- [ ] `">>>>="` -- Arithmetic right shift eq
- [ ] `"REPEAT"` -- RTFS
- [ ] `"NUM"` --  Replace symbolic reference with actual values (in register, label etc.)
- [ ] `"PICK"` -- Pick nth element from top of stack
- [ ] `"RPICK"`--  Pick nth element from bottom of stack
- [ ] `"

[2019-06-17 06:35] sushant94 opened #268 "Add support for unimplemented esil instructions"
Currently the following still need to be implemented:
- [ ] `GOTO`
- [ ] `TODO`
- [ ] `LOOP`
- [ ] `BREAK`
- [ ] `$`

[2019-06-17 06:36] sushant94 opened #269 "Default VM implementation"
With the current esil-rs implementation, I find myself using the following pattern quite regularly.

[code]

It would be nice to have a default `Evaluator` / `Consumer` / `VM` implementation that would do this for us, while allowing us to customize it for the needed operation.

[2019-06-17 06:36] sushant94 opened #270 "Improve Docs"
The current implementation of esil-rs seems pretty stable. It would be a good idea to add more documentation for the same. This bug is essential composed of two tasks:
- [ ] Add docs
- [ ] Make travis push updated docs on every push to master. See [travis-cargo](https://github.com/huonw/travis-cargo).

[2019-06-17 06:37] sushant94 opened #272 "Error handling"
Right now esil-rs panics when something goes wrong. We need to implement better error handling and return errors to the users who may decide on how to handle this.

[2019-06-17 06:37] smarek opened #273 "Cannot compile (cargo, radeco)"
I think this is problem with rustc/cargo versions.

If that's the case, it would be great, to add sanity checks and echo hints about supported dependencies versions, instead of plain failing when compiling

[code]

build output, 190e3acb references latest HEAD commit, so it's not dependency to older version or esil-rs
[code]

[2019-06-17 06:37] #273 closed

[2019-06-17 06:37] dlrobertson opened #274 "Panic when parsing unexpected bytes prefixed by $"
The lexer panics when parsing unexpected bytes prefixed by `$`. The code [here](https://github.com/radareorg/esil-rs/blob/master/src/lexer.rs#L395-L399) causes the following panic, caught when fuzzing the parser.

[code]

I think the problem is that the length of the string in bytes != number of unicode characters in the string.

[2019-06-17 06:37] #274 closed

[2019-06-17 06:37] sushant94 opened #275 "Never panic"
Since esil-rs is a library, we should ensure that it never panics. Instead, we return a result and let the  developer handle this.

[2019-06-17 06:37] #275 closed

[2019-06-17 06:38] sushant94 opened #276 "Automatic mode for parser"
Though the current ESIL parser is good and convenient to use compared to raw esil, there are a few improvements that I'd like to add that would make it easier to use.
- Automate setting of `old`, `cur` and `lastsz` in the parser. These are non-intuitive and easy to forget or not do correctly. Of course this feature could be disabled in applications where this is not suitable, but for most cases th

[2019-06-17 06:38] #276 closed

[2019-06-17 06:39] XVilka opened #277 "Use falcon-z3"
Or share some code with Finch https://github.com/falconre/falcon-z3 and https://github.com/falconre/finch

[2019-06-17 06:39] chinmaydd opened #279 "Define communication formats between rune <-> radare2 <-> radeco-lib"
![untitled diagram](https://user-images.githubusercontent.com/6960646/31586818-58de17e0-b1f4-11e7-8ab3-31e31a359d7e.png)

[2019-06-17 06:39] chinmaydd opened #280 "rerune (integration with radeco-lib)"
This is the next step to be taken in taking this project forward. Since we will now be performing symbolic execution over radeco-IR in `rerune` (rather than just ESIL in `erune`), we would require to use more generic and modular approach to define the working of the Engine. This would be a new implementation of the `Engine` trait. The roadmap for the same looks as below(open to discussion and modi

[2019-06-17 06:40] chinmaydd opened #281 "Breakpointing and Hooks"
Since we will have two engines `erune`(based on ESIL) and `rerune`(based on radeco-IR), we would have to implement hooks for ESIL as well as radeco-IR expressions.

[2019-06-17 06:40] chinmaydd opened #282 "Engine Functionality for rune"
We need to have a discussion on the different functionality that will be provided by the `Engine` and formally define those concepts. We should be thorough with the plan before implementation. I will add a detailed summary here soon.

[2019-06-17 06:40] chinmaydd opened #283 "rune should use incremental solving features"
From [here](https://stackoverflow.com/questions/16422018/how-incremental-solving-works-in-z3). This will highly improve performance on repeated querying.

This would require feature additions and modifications in libsmt.rs.

An initial idea would be to collect assertions in a `Vec` and then have a method in `libsmt` to use the internal stack feature to `push()` these and then evaluate the resultin

[2019-06-17 06:40] chinmaydd opened #284 "Handle symbolic jumps"
`RuneContext` does not handle symbolic jumps. This would require us to be able to resolve these locations through constraint solving or by using help from radeco-lib (through VSA maybe).

[2019-06-17 06:40] chinmaydd opened #285 "Tests and Continuous Integration"
We have never had enough stability in rune to be able to write persistent tests for each module. Now that things are falling into place, it is critical that we have almost 100% test coverage and setup continuous integration so that future PRs are monitored better.

[2019-06-17 06:43] #278 closed

[2019-06-18 09:03] #263 closed

[2019-06-18 09:10] beebob23c opened #288 "prebuilt"
Can you put up some prebuilt versions of radeco for linux/windows?

[2019-06-18 09:10] VPaulV opened #289 "esil is not parsed properly"
parser.rs fails to parse esil expressions that contain DUP opcode:
`0,zf,=,cf,401528,+,eax,+,0,cf,=,DUP,0xffffffff,<,?{,1,cf,=,},eax,=,=,0xffffffff,eax,&,!,?{,1,zf,=,}`

Also expressions with 'ds' are not parsed:
`esp,[4],ds,=,4,esp,+`

[2019-06-18 09:10] XVilka opened #290 "Python bindings"
The same way r2 has. May be even allow access to some 'internal' information via r2pipe (make it radeco pipe too?).

[2019-06-18 09:10] XVilka opened #291 "Radeco commands"
Like with `pdd` for r2dec, new namespace
First version should include basic commands (which can be typed in radare2) for

 - [ ] Renaming a function
 - [ ] Renaming a variable
 - [ ] Adding a comment to the radeco output
 - [ ] Changing the type of variable

[2019-06-18 09:11] Maijin opened #292 "Add pddi equivalent in radeco"
Add pddi equivalent from r2dec in radeco, to dump the necessary for users to report bugs/suggestions.

[2019-06-18 09:11] chinmaydd opened #294 "Ability to cache intermediate analyses to a file"
Feel like there should be a API to write generated analysis information to a file or a database (similar to `.idb`) and load from it. We could start with something as simple as writing the generated IR and then maybe when we work on function/variable renaming, we could add that as well.

[2019-06-18 09:12] rfalke opened #295 "thread ... panicked at 'lastsz unset!', .../esil-rs-dc8b478bbfee1278/d93e34a/src/parser.rs:251:31"
Version: eb2c40d
Exe: https://github.com/rfalke/decompiler-subjects/blob/master/from_holdec/dmi/cfg/ia32_elf/subject.exe

Command:
[code]
I also didn't have much luck with other binaries.

[2019-06-18 09:12] radare opened #296 "Support pipes in the shell"
to do things like this
[code]

[2019-06-18 09:12] XVilka opened #297 "Graphs support for different stages"
- SSA
- RadecoIL
- AST? (not sure if really needed)

See https://github.com/radareorg/cutter/issues/1133

[2019-06-18 09:12] radare opened #298 "pde starts webserver in background and hangs"
Should use the r_core_task api

![image 2019-01-14 01 15 50](https://user-images.githubusercontent.com/917142/51092643-ef13d400-1799-11e9-89d8-103c5c88b0a0.jpg)

[2019-06-18 09:13] radare opened #299 "Does not identify function signature to pass the arguments"
<img width="933" alt="screenshot 2019-03-05 at 02 04 49" src="https://user-images.githubusercontent.com/917142/53773528-1f026c80-3eeb-11e9-9969-9212fc0b4cc5.png">

[2019-06-18 09:13] radare opened #300 "Panic on mojave's /bin/ls"
[code]

[2019-06-18 09:13] radare opened #301 "Decompiler output should honor ec"
![screenshot 2019-03-06 at 12 34 21](https://user-images.githubusercontent.com/917142/53878458-35541980-400c-11e9-8321-65b061d837fc.png)

this bgcolor is ugly

also, empty else blocks should be removed

[2019-06-18 09:13] radare opened #302 "Use r2 commands in the radeco shell"
To not have to remember new commands:

[code]

I would suggest:

* [ ] load `o`
* [ ] connect `=`
* [ ] fn_list `afl`
* [ ] af `addr` # or add `s`
* [ ] ir `pir`
* [ ] decompile `pdd` or `pdd radeco` ..
* [ ] fn_rn `afn`
* [ ] quit `q`

[2019-06-18 09:14] radare opened #303 "Implement pde* to print r2's comment commands with the decompiled output"
Like pdd* does in r2dec

[2019-06-18 09:14] radare opened #304 "pde shouldnt start a webserver"
The core must hold an instance of radeco and use the api to analyze, load, decompile without having to use the radeco webserver

[2019-06-18 09:14] radare opened #305 "Panic on <radeco_lib::analysis::matcher::gmatch::GraphMatcher<'a, I, S>>::hash_data"
[crackme0x00.exe.zip](https://github.com/radareorg/radeco/files/2937629/crackme0x00.exe.zip)

[code]

[2019-06-18 09:14] radare opened #306 "Honor Memory mapped devices as hint for the decompiler"
Related info: https://twitter.com/rfc6919/status/1103793517346738176?s=21

[code]

there's no way in r2 to specify that a region is memory mapped, but we can use this naming convention to do that. at the end in r2 we only care about this with rebased flags and esil scripts to emulate hardware... so we dont really need any special change in the io layer to handle this

[2019-06-18 09:26] #293 closed

[2019-06-18 09:27] sushant94 opened #307 "`radeco` utility request/specification"
_From @XVilka on July 4, 2015 19:50_
# Radeco

The radare decompiler tool, (namedly 'radeco') should be able to run from r2 or from the shell, accepting different inputs and dumping different outputs.

we can make radeco r2pipe friendly and interact with r2 using the pipes. this piece is already done, but not used at all. so i would suggest making the 'radeco' executable that allows to run like th

[2019-06-18 09:27] #307 closed

[2019-06-18 09:27] radare opened #308 "-h output is not the same as --help"
<img width="620" alt="screen shot 2015-09-22 at 18 13 58" src="https://cloud.githubusercontent.com/assets/917142/10024083/c389f8da-6155-11e5-962b-21c2c4455d7a.png">

[2019-06-18 09:27] #308 closed

[2019-06-18 09:27] radare opened #309 "Short options for --version --verbose --output and --shell"

[2019-06-18 09:27] #309 closed

[2019-06-18 09:27] radare opened #310 "SSA instructions"
Several issues here:
- file names should be <stage-name>.<extension>, in `dce.dot`, `ssa.txt`, ...
- let assignments at address zero ? this produces an ugly graph
- numbers bigger than X should be in hexadecimal for redability: `call 4294971244[:64]`

[code]

[2019-06-18 09:27] #310 closed

[2019-06-18 09:28] radare opened #311 "Not all stages are dumped"
[code]

[2019-06-18 09:28] #311 closed

[2019-06-18 09:28] radare opened #312 "Use + and - instead of = to specify if a stage needs to be dumped"

[2019-06-18 09:28] #312 closed

[2019-06-18 09:28] radare opened #313 "Add `png` stage to generate PNG images from dot graphs"

[2019-06-18 09:28] #313 closed

[2019-06-18 09:29] TheJJ opened #314 "Lower contribution entry barrier"
I really recommend using another language like C, C++ or Python3 to allow much more people to contribute. I'd recommend Python to allow really fast and easy progress, functionality is much more important than speed, especially in the early stage, later cython, pypy or c-extension can be used to speed up critical parts.

The target audience is barely familiar with Rust and doesn't want to learn a n

[2019-06-18 09:29] #314 closed

[2019-06-18 09:29] #315 closed

[2019-06-18 09:29] wyrex opened #315 "Build fails"
This is using rustc 1.10.0 and cargo 0.11.0.

[code]

[2019-06-18 09:29] richardpl opened #316 "decompile single function"
Is this possible currently at all?

I failed to decompile even smallest demo program with minidec.
It takes bunch of time and all cores.

[2019-06-18 09:29] #316 closed

[2019-06-18 09:30] Maijin opened #317 "radeco file.exe"
Opening radeco with a file as an argument must load this file.

[2019-06-18 09:30] #317 closed

[2019-06-18 09:30] Maijin opened #318 "Location to be replaced by string label"
`tmp = sym.imp.printf(8196, unknown, rdx, rcx, r8, r9)`

Change 8196 by "%d"

[2019-06-18 09:30] #318 closed

[2019-06-18 09:30] Maijin opened #319 "Use SDB to determine the number of argument of a given function"
`tmp = sym.imp.puts("Hello, world.", rsi, rdx, rcx, r8, r9)`
-> `anal/types/func.puts.args=1`
`tmp = sym.imp.puts("Hello, world.", rsi)`

[2019-06-18 09:30] #319 closed

[2019-06-18 09:31] Maijin opened #320 "Command completion in radeco CLI"
Command completion in radeco CLI with tab

[2019-06-18 09:31] #320 closed

[2019-06-18 09:31] Maijin opened #321 "PATH completion in CLI"
PATH completion in CLI with tab

[2019-06-18 09:31] #321 closed

[2019-06-18 09:32] Maijin opened #322 "IOLI Crackme0x00.exe/Crackme0x00 C output"
Available in r2r/bins/pe/ioli/w32 and r2r/bins/elf/ioli

<img width="406" alt="image" src="https://user-images.githubusercontent.com/1408600/44003347-937f9ae6-9e51-11e8-9c79-ce87c961bd19.png">

<img width="220" alt="image" src="https://user-images.githubusercontent.com/1408600/44003344-8f669194-9e51-11e8-9456-c733d79a6115.png">

See r2dec:

<img width="596" alt="image" src="https://user-images.git

[2019-06-18 09:32] #322 closed

[2019-06-18 09:33] Maijin opened #323 "Missing semi-colon ; at the end of instructions"
Missing semi-colon ; at the end of instructions see:

![image](https://user-images.githubusercontent.com/1408600/44003406-7b4834dc-9e52-11e8-9c5f-01672b030927.png)

[2019-06-18 09:33] #323 closed

[2019-06-18 09:33] Maijin opened #324 "Add version -v --version in radeco"
Add version -v --version in radeco

[2019-06-18 09:33] #324 closed

[2019-06-18 09:33] XVilka opened #325 "Complete output in a single file"
Moved from https://github.com/radareorg/radeco-lib/issues/35

[2019-06-18 09:33] #325 closed

[2019-06-18 09:33] Maijin opened #326 "Cannot find function/Invalid address/Invalid address - fcn_list not working"
Lot of errors and fcn_list not working when doing radeco ~/Documents/Projects/radare2-regressions/bins/pe/ioli/w32/crackme0x00.exe:

[code]

[2019-06-18 09:33] #326 closed

[2019-06-18 09:34] rfalke opened #327 "Compilation failed with #![feature] may not be used on the stable release channel"
Maybe this is a minor thing but I'm not familiar with the rust build system to know for sure.

[code]

And
[code]

[2019-06-18 09:34] #327 closed

[2019-06-18 09:34] rfalke opened #328 "Provide a non-interactive way to decompile all functions"
I'm comparing decompilers (see https://github.com/rfalke/decompiler-subjects). I would like to include radeco. However I failed so far to build a command line which decompiles all functions in the binary.

In tests/hello/Makefile there is "r2 -qc '#!pipe $(RADECO) -p $(STAGES)' hello" but it shows an interactive prompt. I expected something automatic from a test.

I found out that you can run "rad

[2019-06-18 09:34] #328 closed

[2019-06-18 09:35] radare opened #329 "Implement pdu command"
Like the dcu or dsu command, the pdu should disassemble until a specific condition is found.

[code]
Another example would be

[code]

Or maybe:
[code]

Use esil to emulate the flow? with pdue?

[2019-06-18 09:35] #329 closed

[2019-06-18 09:36] radare opened #330 "`#!pipe radeco` should run "conect" current r2 session by default."
![image 2019-01-14 01 15 14](https://user-images.githubusercontent.com/917142/51092635-d99eaa00-1799-11e9-8e3b-ab7a0942a537.jpg)

[2019-06-18 09:36] #330 closed

[2019-06-24 16:47] XVilka opened #331 "Stabilize the Rust features that used"
To be able to build it with a stable Rust version

[2020-05-22 06:06] #271 closed

[2021-02-07 22:52] Muqi-Zou opened #338 "cargo build failed"
Received following error when running "cargo build"
`error[E0554]: `#![feature]` may not be used on the stable release channel`

For more detailed error information:
[code]
**How to reproduce?**

Checked following post
https://github.com/radareorg/radeco/issues/128
https://github.com/radareorg/radeco/issues/124
https://github.com/radareorg/radeco/issues/327

and here is my info:
My OS: Ubuntu 18.0